<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Marché</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Toutes les places de marché</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              <div style="margin-left: 14px;display: flex;">
                  <p style="color: #2171ae;font-size: 12px;"> &nbsp;&nbsp;</p>
                  
                  <!-- <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"> -->
              </div>
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>Méthode</th>
                      <th>Liste des zones</th>
                      <th>Poids minimum (Poids KG)</th>
                      <th>Poids maximum(Poids KG)</th>
                      <th>Coût de base</th>
                      <th>Poids supplémentaire (Poids KG)</th>
                      <th>Coût par unité</th>
                      <th>Nombre de jours</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                
                  <tbody>
                      <tr *ngFor="let d of orders | filter:searchText ">
                          <td>{{d.method_name}}</td>                       
                          <td >
                            <ng-container *ngFor="let abcObj of d.zone_list">
                              {{abcObj.zone}}  <br>
                            </ng-container>
                          </td>
                          <td>{{d.min_weight}}</td>
                          <td>{{d.max_weight}}</td>
                          <td>{{d.cost_base}}</td>
                          <td>{{d.cost_additional_weight}}</td>
                          <td>{{d.cose_per_unit}}</td>
                          <td>{{d.number_of_days}}</td>
                          <td><a routerLink="/editMarcketPlace/{{d._id}}">Modifier</a></td>
                      </tr>
                      <tr *ngIf="orders.length ==0">
                          Pas d'éléments trouvés
                      </tr>
                     
                      
                  </tbody>
                </table>
              
          </section>
          
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>