<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Produit supprimé</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Produit supprimé</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              <!-- <div style="margin-left: 14px;display: flex;">
                  <p style="color: #2171ae;font-size: 12px;">All({{orders.length}}) &nbsp;|&nbsp;</p>
                  <p style="color: #2171ae;font-size: 12px;">Published({{orders.length}}) &nbsp;|&nbsp;</p>
                  <p style="color: #2171ae;font-size: 12px;">Drafts({{orders.length}}) &nbsp;|&nbsp;</p>
                  <p style="color: #2171ae;font-size: 12px;">Awaiting review({{orders.length}}) &nbsp;|&nbsp;</p>
                  <input type="text" class="form-control" placeholder="Search"  [(ngModel)]="searchText">
              </div> -->

              <div style="display: flex;"></div>
                  <div class="row">
                      <div class="col-md-12">
                          <form [formGroup]="form" (ngSubmit)="submit()">
                              <div style="display: flex;">
                                  <select class="form-select" formControlName="action_delete">
                                      <option value="">Groupes d'action</option> 
                                      <option value="restore">Restaurer</option>
                                  </select>
                                  <button class="btn btn-secondary">Appliquer</button>
                              </div>
                          </form>
                      </div>
                  </div>
                  
                  
                  <div class="clearfix"></div>
                  <br>
                  <div class="row">
                      <div class="col-md-12">
                          <form [formGroup]="formSecondStep" (ngSubmit)="submit2()">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Nom du produit" formControlName="product_name">
                                          </div>
                                      </div>
                                  
                              <!-- <div class="col-md-3">
                                  <div class="form-group">
                                      <select class="form-control" formControlName="is_active">
                                          <option value="">Veuillez sélectionner</option>
                                          <option value="true">En stock</option>
                                          <option value="false">En rupture de stock</option>
                                      </select>
                                  </div>
                              </div> -->
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <select class="form-control" formControlName="catagory">
                                          <option value="">Veuillez sélectionner</option>
                                          <option *ngFor="let objCat of allCategory" value="{{objCat.title}}">{{objCat.title}}</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <select class="form-control" formControlName="vendor_id">
                                          <option value="">Veuillez sélectionner</option>
                                          <option *ngFor="let objCat of allSeller" value="{{objCat._id}}">{{objCat.fullname}} -- {{objCat.shopname}}</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-1">
                                  <button class="btn btn-secondary">Appliquer</button>
                              </div>
                              <div class="col-md-1">
                                  <a class="btn btn-primary" href="/allDeletedProduct">Réinitialisation</a>
                              </div>
                                      
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th> <input type="checkbox" [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)" >
                      </th>
                      <th >Nom</th>
                      <th>SKU</th>
                      <th >Statut</th>
                      <th >Stock</th>
                      <th>Prix</th>
                      <th>Catégories</th>
                      <th>Vendeur</th>
                    </tr>
                  </thead>
                  <ng-container *ngIf="orders.length > 0; else elseUsers">
                  <tbody>
                      <tr *ngFor="let d of orders | filter:searchText ">
                          
                          <td>
                              <input type="checkbox" [(ngModel)]="d.is_checked" (ngModelChange)="onSelectAll2(d._id,$event)" >
                          </td>
                          <!-- <a routerLink="/modifyproduct/{{d._id}}"></a> -->
                          <td   > {{d.title}}</td>
                          
                          <td >{{d.sku}}</td>
                          <td >
                              <div class="badege" style="color: green;" *ngIf="d.is_active == true">
                                  Actif
                              </div>
                              <div class="badege" style="color: red;" *ngIf="d.is_active == false">
                                  Inactif
                              </div>
                              
                          </td>
                          <td >
                              <ng-container  *ngIf="d.stock > 0; else elseeeeStock">
                                  <div class="badege" style="color: green;">
                                      En stock
                                  </div>
                              </ng-container>
                              
                              <ng-template #elseeeeStock>
                                  <div  class="badege" style="color: red;"  >
                                      Non
                                  </div>
                              </ng-template>
                              
                              
                          </td>
                          <td>{{d.price}} CFA</td>
                          <td>{{d.catagory}}</td>
                          
                          <td>{{d.provider_name}}</td>

                      </tr>

                  
                  </tbody>

                  </ng-container>
                  <ng-template #elseUsers>
                  <tbody >
                  <tr>
                      <td class="no-data" colspan="10">
                          <i class="fa fa-file"></i>
                          <p>Aucune donnée trouvée</p>
                      </td>
                  </tr>
                  </tbody>
              </ng-template>

                </table>
                
                <div class="clearfix"></div>
                <br>
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                    (click)="getallColor(item)">
                    <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

                <div class="clearfix"></div>
            <br>
            <div class="comeBack_up" *ngIf="apiResponse">
              <div *ngIf="apiResponse.error; else loggedOut">
                <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
              </div>
              <ng-template #loggedOut>
                <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
              </ng-template>
            </div>
          </section>
          
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>