<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Critiques des magasins</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <!-- <div style="margin-left: 14px;display: flex;">
                    <p style="color: #2171ae;font-size: 12px;">Tous(0) &nbsp;| &nbsp;</p>
                    <p style="color: #2171ae;font-size: 12px;">Trash(0) &nbsp;| &nbsp;</p>
                </div> -->
                
                <div style="display: flex;"> 
                    
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div style="display: flex;">
                            <select class="form-select" formControlName="action_delete">
                                <option value="">Veuillez sélectionner</option>
                                <option value="delete">Supprimer</option>
                            </select>
                            <button class="btn btn-secondary">Appliquer</button>
                        </div>
                    </form>
                </div>
                <table id="basic-data-table" class="table nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th>#</th> 
                        <th> <input type="checkbox" [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)"></th>
                        <th>Photo</th>
                        <th>Contenu</th>
                        <th >Client</th>
                        <th>Vendeur</th>
                        <th>Evaluation</th>
                        <th>Date</th>
                        <th>Action</th>

                      </tr>
                    </thead>
                  
                    <tbody>
                        <tr *ngFor="let d of storerevires">
                            
                            <td>#</td>
                            <td>
                                <input type="checkbox"   [(ngModel)]="d.is_checked" (ngModelChange)="onSelectAll2(d._id,$event)" >
                            </td>

                            <td>
                                <ng-container *ngIf="d.media.length > 0 ">
                                    <img *ngIf="d.media[0]" style="width:130px;" src="{{base_url_two}}static/public/{{d.media[0]}}" height="120" width="80">
                                </ng-container>
                                
                            </td>

                            <td >{{d.review}}</td>
                            <td>{{d.first_name}} {{d.last_name}}</td>
                            <td >{{d.fullname}} --- {{d.shopname}}</td>
                            <td>{{d.rating}}</td>
                            <td>{{d.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                             <td>
                                <button class="btn btn-danger" (click)="deleteRating(d._id)"> <i class="fa fa-trash"></i></button>
                                </td>
                            
                        </tr>
                        <tr *ngIf="storerevires =='' ">Aucun avis n'a été trouvé</tr>
                        

                    </tbody>
                  </table>
                  <div class="clearfix"></div>
                  <br>
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                      (click)="getallColor(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>