body {
    background-color: #fff;
  }
  
  .top-information,
  .bottom-information {
    padding: 0 20px;
  }
 td{
    font-weight: 400;
    color: gray;
    font-size: 14px;
  }
  th{
    font-weight: 400;
  }