<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
    
        <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <!-- Content Wrapper. Contains page content -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Utilisateurs</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                  <li class="breadcrumb-item active">Utilisateurs</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Utilisateurs<small> </small></h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                   <div class="card">
                  <div class="card-header">
                    <h3 class="card-title"> </h3>
                  </div>
                  <div class="clearfix"></div> 
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.status == true; else loggedOut">
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                       
                          <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                  </div> 
                  <div class="clearfix"></div> 

                  <!-- /.card-header -->
                  <div class="card-body p-0">

                    <form [formGroup]="form2" (ngSubmit)="submit2()">
                      <div class="card-body">
                        <div class="row">
                          
                          <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom et prénom</label>
                                <input type="text" formControlName="firstName"
                                  id="firstName"  
                                  class="form-control"
                                  placeholder="Nom et prénom"
                                  >
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom</label>
                                <input type="text" formControlName="lastName"
                                  id="lastName"  
                                  class="form-control"
                                  placeholder="Nom"
                                  >
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Courriel</label>
                              <input type="text" formControlName="email"
                                id="email"  
                                class="form-control"
                                placeholder="Nom de famille"
                                >
                            </div>
                          </div>
                          <div class="col-md-3"> 
                            <div class="form-group">
                              <label for="exampleInputEmail1">Numéro de portable</label>
                              <input type="number" formControlName="mobileNumber"
                                id="mobileNumber"  
                                class="form-control"
                                placeholder="Numéro de portable"
                                >
                            </div>
                          </div>
                          
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Statut</label>
                                <select name="status" formControlName="status"  
                                  class="form-control"
                                  >
                                <option value="">Veuillez sélectionner</option>
                                <option value="1">Actif</option>
                                <option value="2">Inactif</option>
                              </select>
                            </div>
                          </div>
                           
                          <div class="col-md-1">
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                          </div> &nbsp;
                          <div class="col-md-1">    
                            <a href="/users" class="btn btn-warning">Réinitialisation</a>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="table-responsive">


                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <div style="display: flex;">
                                <select class="form-select" formControlName="action_delete">
                                    <option value="">Groupes d'action</option>
                                    <option value="delete">Supprimer</option>
                                </select>
                                <button class="btn btn-secondary">Appliquer</button>
                            </div>
                        </form>



                        <table id="basic-data-table" class="table nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th> <input type="checkbox" [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)" >
                                    </th>
                                    <th>Photo</th>
                                    <th style="color: #2171ae;">Identificant</th>
                                    <th style="color: #2171ae;">Téléphone</th>
                                    <th style="color: #2171ae;">Address de messegirie</th>
                                    <th>Date et heure</th>
                                    <th>Achats</th>
                                    <th>Statut</th> 
                                    <th>Vérification de l'e-mail</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <ng-container *ngIf="users.length > 0; else elseUsers">
                              <tbody>
                                  <tr *ngFor="let d of users| filter:searchText ">

                                      <td><input type="checkbox" [(ngModel)]="d.is_checked" (ngModelChange)="onSelectAll2(d._id,$event)" ></td>
                                      
                                      <td>
                                        <ng-container *ngIf="d.photo; else elsePhooto">
                                          <img *ngIf="d.photo"   src="{{base_url_two}}static/public/{{d.photo}}" width="100" height="80">

                                        </ng-container>
                                        <ng-template #elsePhooto>
                                          <img    src="{{base_url_two}}public/uploads/no-user.png" width="100" height="80">
                                        </ng-template>
                                      </td>
                                      <td style="color: #2171ae;cursor: pointer;">
                                          
                                          
                                          <a routerLink="/editprofile/{{d._id}}">{{d.first_name}} {{d.last_name}}</a>

                                      </td>
                                      <td style="color: #2171ae;">{{d.phone}}</td>
                                      <td style="color: #2171ae;">{{d.email}}</td>
                                      <td>

                                          {{d.createdAt | date: 'dd/MM/yyyy hh:mm'}}

                                      </td>
                                      <td>

                                          {{d.orderLength}}

                                      </td>
                                      <td>
                                          <div class="badge" style="color:green" *ngIf="d.is_active==true "> Actif</div>
                                          <div class="badge" style="color:red" *ngIf="d.is_active==false ">En activité</div>

                                      </td>
                                      <td>
                                          <div class="badge" style="color:green" *ngIf="d.isverfied==true "> Vérifié</div>
                                          <div class="badge" style="color:red" *ngIf="d.isverfied==false ">Non vérifié</div>

                                      </td>
                                      <td>
                                          <button class="btn btn-danger" (click)="deleteUser(d._id)"> <i class="fa fa-trash"></i></button>

                                          
                                              <a *ngIf="d.is_active==true; else secondElse " href="javascript:void(0)" style="color:red" (click)="inactiveUser(d._id)">Inactif</a>
                                          
                                          <ng-template #secondElse>
                                              <a href="javascript:void(0)" style="color:green" (click)="activeUser(d._id)">Actif</a>
                                          </ng-template>
                                          
                                      </td>
                                      
                                  </tr>

                                  
                                  
                              </tbody>
                            </ng-container>
                            <ng-template #elseUsers>
                              <tbody >
                                <tr>
                                    <td class="no-data" colspan="10">
                                        <i class="fa fa-file"></i>
                                        <p>Aucune donnée trouvée</p>
                                    </td>
                                </tr>
                              </tbody>
                            </ng-template>
                            


                        </table>
                        <div class="clearfix"></div> 
                                
                                <ul class="pagination">
                                    <li   *ngFor="let item of numbers; let i = index"  
                                    [class.active]="selectedIndex === i"
                                    (click)="getallColor(item)">
                                    <a class="" href="javascript:void(0)">{{item+1}}</a>
                                    </li> 
                                </ul>
                        <div class="clearfix"></div> 
                                <div class="comeBack_up" *ngIf="apiResponse">
                                  <div *ngIf="apiResponse.status == true; else loggedOut">
                                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                    </div>
                                    <ng-template #loggedOut>
                                     
                                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                    </ng-template>
                                </div> 
                    </div>

                  </div>
                  <!-- /.card-body -->
                </div>
                </div>
                <!-- /.card -->
                </div>
              <!--/.col (left) -->
              <!-- right column -->
              <div class="col-md-6">
    
              </div>
              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- /.content-wrapper -->
    
      <!-- Control Sidebar -->
      <!-- <aside class="control-sidebar control-sidebar-dark">
      </aside> -->
        <!-- Control sidebar content goes here -->
      <!-- /.control-sidebar -->
    
      
       <app-adminfooter></app-adminfooter>
    </div>
    </body>