<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
    <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Tableau de bord</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                  <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
              <div class="clearfix"></div>
              <br>
              <div class="col-md-6">
                <a class="btn btn-primary" routerLink="/allRoute">Cliquez ici et retournez à tous les itinéraires</a>
              </div>
              <div class="col-md-6">
                <a class="btn btn-success" (click)="assignToDriver(route_id,driver_id)">Envoyer au chauffeur</a>
              </div>
              

              <div class="clearfix"></div>
                              <br>
                              <div class="comeBack_up" *ngIf="apiResponse">
                                <div *ngIf="apiResponse.error; else loggedOut">
                                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </div>
                                <ng-template #loggedOut>
                                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </ng-template>
                              </div>
            <div class="clearfix"></div>
            
              <br>
               
              <br>
            <div class="clearfix"></div>
              <div #map style="width: 100%; height: 600px"></div>
              <!-- /.col -->
              
              <!-- /.col -->
              
              <!-- /.col -->
            </div>
            <!-- /.row -->
  
            <div class="row"></div>
            <!-- /.row -->
  
            <!-- Main row -->
            <div class="row"></div>
            <!-- /.row -->
          </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
     <app-adminfooter></app-adminfooter>
  </div>
  </body>