<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Chauffeur</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Modifier le chauffeur</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Modifier le chauffeur<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Nom complet*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" formControlName="fullName"
                            id="fullName"  
                            class="form-control" [(ngModel)]="old_fullName"
                            placeholder="Nom complet">
                          <div *ngIf="f['fullName'].touched && f['fullName'].invalid" class="validation_error">
                            <div *ngIf="f['fullName'].errors && f['fullName'].errors['required']">Le prénom est obligatoire</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Email*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="email"  formControlName="email"
                            id="email"  
                            class="form-control" [(ngModel)]="old_email"
                            placeholder="Courriel">
                          <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                            <div *ngIf="f['email'].errors && f['email'].errors['required']">Le courriel est obligatoire</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Téléphone*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="number" formControlName="mobileNumber"
                            id="mobileNumber"  
                            class="form-control" [(ngModel)]="old_mobileNumber"
                            placeholder="Numéro de mobile">
                          <div *ngIf="f['mobileNumber'].touched && f['mobileNumber'].invalid" class="validation_error">
                            <div *ngIf="f['mobileNumber'].errors && f['mobileNumber'].errors['required']">Le numéro de mobile est obligatoire</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Type de véhicule*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                         <div class="form-group">
                            <select class="form-control" name="vehicleType" formControlName="vehicleType" [(ngModel)]="old_vehicleType">
                               <option value="">Sélectionnez le type de véhicule</option>
                               <option value="Car" >Car</option>
                               <option value="Bike">Bike</option>
                               <option value="Scooter">Scooter</option>
                               <option value="Truck">Truck</option>
                               <option value="Small Truck">Small Truck</option>
                            </select>

                            <div *ngIf="f['vehicleType'].touched && f['vehicleType'].invalid" class="validation_error">
                              <div *ngIf="f['vehicleType'].errors && f['vehicleType'].errors['required']">Le type de véhicule est obligatoire</div>
                            </div>
                         </div>
                      </div>
                   </div>
                  

                   <div class="form-group row">
                    <label class="form-label col-md-4 col-lg-3">Début et heure de l'équipe</label>
                    
                    <div class="col-md-2 col-lg-2">
                      <input class="form-control" [(ngModel)]="old_shiftStartTime"  formControlName="shiftStartTime" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date et heure de l'expédition" >
                      <owl-date-time #dt1 pickerType="timer"></owl-date-time>

                    </div>
                    <div class="col-md-2 col-lg-2">
                      
                      <input class="form-control" [(ngModel)]="old_shiftEndTime" formControlName="shiftEndTime" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date et heure de l'expédition" >
                      <owl-date-time #dt2 pickerType="timer"></owl-date-time>

                   </div>

                  </div>
                  <div class="form-group row">
                    <label class="form-label col-md-4 col-lg-3">Début et heure de la pause</label>
                    <div class="col-md-2 col-lg-2">
                      
                      <input class="form-control"  [(ngModel)]="old_breakStartTime" formControlName="breakStartTime" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" placeholder="Date et heure de l'expédition" >
                      <owl-date-time #dt3 pickerType="timer"></owl-date-time>

                    </div>
                    <div class="col-md-2 col-lg-2">
                      
                      <input class="form-control"[(ngModel)]="old_breakEndTime" formControlName="breakEndTime" [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" placeholder="Date et heure de l'expédition" >
                      <owl-date-time #dt4 pickerType="timer"></owl-date-time>

                   </div>
                  </div>

                  <div class="form-group row mb-0">
                    <label class="form-label col-md-4 col-lg-3">Entrez l'adresse de départ*</label>
                    <div class="col-xl-5 col-md-8 col-lg-6">
                      <div class="form-group">
                          <input formControlName="startAddress" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"class="form-control"
                          placeholder="Entrez l'adresse de départ" [(ngModel)]="startAddress" />

                        <div *ngIf="f['startAddress'].touched && f['startAddress'].invalid" class="validation_error">
                          <div *ngIf="f['startAddress'].errors && f['startAddress'].errors['required']">Adresse de départ est requis.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row mb-0">
                    <label class="form-label col-md-4 col-lg-3">Entrez l'adresse de fin*</label>
                    <div class="col-xl-5 col-md-8 col-lg-6">
                      <div class="form-group">
                          <input formControlName="endAddress" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange2($event)"class="form-control"
                          placeholder="Entrez l'adresse de fin" [(ngModel)]="endAddress" />

                        <div *ngIf="f['endAddress'].touched && f['endAddress'].invalid" class="validation_error">
                          <div *ngIf="f['endAddress'].errors && f['endAddress'].errors['required']">Adresse de fin est requis.</div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.error; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                    </div>
  
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>