<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Bannière</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Ajouter une bannière</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Ajouter une bannière<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    
                    <div class="form-group">
                      <label for="file">Emplacement de la bannière</label><br><div class="clearfix"></div>
                      <select formControlName="location" class="form-control">
                        <option value="">Veuillez sélectionner</option>
                        <option value="user_home_first_block">Premier bloc de la maison de l'utilisateur</option>
                        <!-- <option value="user_home_second_block">Deuxième bloc de la maison de l'utilisateur</option> -->
                        <option value="user_home_middle_block">Maison de l'utilisateur au milieu de l'îlot</option>
                      </select>
                      <div *ngIf="f['location'].touched && f['location'].invalid" class="validation_error">
                          <div *ngIf="f['location'].errors && f['location'].errors['required']">l'emplacement est requis.</div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="file">Image</label><br><div class="clearfix"></div>
                      <input
                          formControlName="images"
                          id="images"
                          type="file"
                            
                          (change)="onFileChange($event)"
                          accept="image/png, image/jpeg, image/jpg, image/gif">
                      <div *ngIf="f['images'].touched && f['images'].invalid" class="validation_error">
                          <div *ngIf="f['images'].errors && f['images'].errors['required']">Le fichier est requis.</div>
                      </div>
                    </div>
                      
                    
                    <div class="form-group">
                      <label for="file">URL</label><br><div class="clearfix"></div>
                      <input type="text" class="form-control" formControlName="url">
                    </div>
                    <div class="form-group">
                      <label for="file">Titre</label><br><div class="clearfix"></div>
                      <input type="text" class="form-control" formControlName="title">
                    </div>
  
                     
  
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.status == false; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.message }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.message"><strong>{{ apiResponse.message }}</strong></div>
                      </ng-template>
                    </div>
  
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>