.fcol {
    color: #21a1ae;
    font-size: 20px;
    font-weight: 400;
}
.info-box-icon{
    color: #21a1ae;
    font-size: 30px;
}
.info-box-text{
    color: gray;
}
.info-box {
    box-shadow: none;
    border-radius: 0.25rem;
    background: #fff;
    display: flex;
    margin-bottom: 0rem;
    min-height: 80px;
    padding: 0.3rem;
    position: relative;
    width: 100%;
}
table{
    background-color: #fff;
}
td{
    border: 1px solid #e4e4e4;
}
 
  .card {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    height: 350px;
    margin: 0rem;
    position: relative;
    width: 300px;
    padding: 10px;
    margin: 2px;
  }

  .card-4 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  button.btn.btn-outline-secondary {
    margin-top: 24px;
}
form.form-filter {
    margin-left: 20px;
}