<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Order Rapports</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div style="margin-left: 14px;display: flex;">
                    <p style="color: #2171ae;font-size: 12px;">By day &nbsp;| &nbsp;</p>
                    <p style="color: #2171ae;font-size: 12px;">By month &nbsp;| &nbsp;</p>
                    <p style="color: #2171ae;font-size: 12px;">By year&nbsp;| &nbsp;</p>
                </div>
                
                <div class="flex">
                    <form [formGroup]="form" (ngSubmit)="submit()" class="form-filter">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    From: &nbsp;&nbsp;
                                    <input type="date" formControlName="form_date" class="form-control">
                                    <div *ngIf="f['form_date'].touched && f['form_date'].invalid" class="validation_error">
                                        <div *ngIf="f['form_date'].errors && f['form_date'].errors['required']">Date du formulaire est requis</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    &nbsp;To: &nbsp;&nbsp;
                                    <input type="date" formControlName="to_date" class="form-control">
                                    <div *ngIf="f['to_date'].touched && f['to_date'].invalid" class="validation_error">
                                        <div *ngIf="f['to_date'].errors && f['to_date'].errors['required']">A ce jour est requis</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-outline-secondary">Afficher</button>
                            </div>
                        </div>
                        
                        
                        
                    </form>
                </div><hr>
                <div style="display: flex;">
                    <div class="col-6 card card-4">
                        <table>
                            <tr>
                                <td style="padding: 10px;">At a Glance</td>
                                <td style="padding: 10px;text-align: end;color: gray;">comission gagnee</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-chart-bar"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{totalearnings}} €</span>
                                                <span class="info-box-text">ventes nettes ce mois-ci</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-chart-pie"
                                                    style="color: green;"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-number fcol">{{totalcommissionearned}} €</span>
                                                        <span class="info-box-text">commission gagnée</span>
        
                                                    </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-credit-card"
                                                    style="color: green;"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-number fcol">{{salesthismonth}}  Commandes</span>
                                                        <span class="info-box-text">ce mois-ci</span>
        
                                                    </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-users"
                                                    style="color: orange;"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{sellerthismonthnotapproved}} Vendeur</span>
                                                <span class="info-box-text">en attente d'approbation</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-list"
                                                    style="color: gray;"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">0 Products</span>
                                                <span class="info-box-text">created this month</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-credit-card"
                                                    style="color: red;"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{totalwithdrawls}} Withdrwals</span>
                                                <span class="info-box-text">awaiting approval</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-6 card card-4" >
                        <label style="color:gray"> Overview</label>
                        <canvas id="linechart"></canvas>
                    </div>
                </div>
                
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>