<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6" style="display: flex;">
                            <h1 class="m-0">Zones de navigation</h1>
                            <button class="btn btn-outline-primary" (click)="openDialog()">Ajouter une zone de livraison</button>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content" style="text-align: center;">
                <!-- <div style="display: flex;">
                     
                        <div style="margin-left: 14px;display: flex;">
                            
                            
                        </div>
                        <div style="display: flex;">
                            <select class="form-select"  >
                                <option value="">Actions Groups</option>
                                <option value="delete">Delete</option>
                            </select>
                            <button class="btn btn-secondary">Apply</button>
                        </div>
                     

                </div> -->
                <table id="basic-data-table" class="table nowrap" style="width:100%">
                    <thead>
                        <tr>  
                            <th>Nom de la zone</th>
                            <th>Ville</th>
                            <!-- <td>Actions</td> -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let d of records  ">
                            
                            <td > <a routerLink="/editZoneName/{{d._id}}">{{d.name}}</a> </td>
                            <td> <p *ngFor="let cObj of d.cities">{{cObj.city}} </p> </td>
  
                        </tr>


                    </tbody>
                </table>
                
                
                
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
        
    </div>
</body>