body {
    background-color: #fff;
  }
  
  
  .top-information,
  .bottom-information {
    padding: 0 20px;
  }
 td{
    font-weight: 400;
    font-size: 14px;
  }
  th{
    font-weight: 500;
    color: #2171ae;
  }
  .badge{
    padding: 8px 10px;
    background-color: #e4e4e4;
  }

  button.btn.btn-outline-secondary {
    margin-top: 23px;
}

.top-information,
.bottom-information {
  padding: 0 20px;
}

ul.pagination {
  padding-bottom: 50px;
}