<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Réglage</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Réglage</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Réglage<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    
                    <div class="form-group">
                      <label for="exampleInputEmail1">Pourcentage d'impôt sur ( % )</label>
                      <input type="number" formControlName="tax_percent"
                        id="tax_percent"  
                        class="form-control"
                        [(ngModel)]="tax_percent_old"
                        placeholder="VAT">
                      <div *ngIf="f['tax_percent'].touched && f['tax_percent'].invalid" class="validation_error">
                        <div *ngIf="f['tax_percent'].errors && f['tax_percent'].errors['required']">Le pourcentage de la taxe est requis.</div>
                      </div>
                    </div>
                    
                    <!-- <div class="form-group">
                      <label for="exampleInputEmail1">Limite maximale du commerçant</label>
                      <input type="number" formControlName="max_merchant_limit"
                        id="max_merchant_limit"  
                        class="form-control"
                        [(ngModel)]="max_merchant_limit_old"
                        placeholder="Limite maximale du commerçant">
                      <div *ngIf="f['max_merchant_limit'].touched && f['max_merchant_limit'].invalid" class="validation_error">
                        <div *ngIf="f['max_merchant_limit'].errors && f['max_merchant_limit'].errors['required']">Limite maximale du commerçant est requis.</div>
                      </div>
                    </div> -->

                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre maximal de jours de retour</label>
                      <input type="number" formControlName="return_max_day"
                        id="return_max_day"  
                        class="form-control"
                        [(ngModel)]="return_max_day_old"
                        placeholder="Nombre maximal de jours de retour">
                      <div *ngIf="f['return_max_day'].touched && f['return_max_day'].invalid" class="validation_error">
                        <div *ngIf="f['return_max_day'].errors && f['return_max_day'].errors['required']">Nombre maximal de jours de retour est requis.</div>
                      </div>
                    </div>
                     

                    <div class="form-group">
                      <label for="exampleInputEmail1">Prix de retour </label>
                      <input type="number" formControlName="returnprice"
                        id="returnprice"  
                        class="form-control"
                        [(ngModel)]="getReturnPrice"
                        placeholder="Nombre maximal de jours de retour">
                      <div *ngIf="f['returnprice'].touched && f['returnprice'].invalid" class="validation_error">
                        <div *ngIf="f['returnprice'].errors && f['returnprice'].errors['required']">Prix de retour est requis.</div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="exampleInputEmail1">Montant que l'utilisateur doit payer pour l'enchère</label>
                      <input type="number" formControlName="auction_amount"
                        id="auction_amount"  
                        class="form-control"
                        [(ngModel)]="old_auction_amount"
                        placeholder="Nombre maximal de jours de retour">
                      <div *ngIf="f['auction_amount'].touched && f['auction_amount'].invalid" class="validation_error">
                        <div *ngIf="f['auction_amount'].errors && f['auction_amount'].errors['required']">Prix de retour est requis.</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Incrément d'enchère minimum montant
                      </label>
                      <input type="number" formControlName="auction_amount_percentage"
                        id="auction_amount_percentage"  
                        class="form-control"
                        [(ngModel)]="old_auction_amount_percentage"
                        placeholder="Incrément d'enchère minimum montant">
                      <div *ngIf="f['auction_amount_percentage'].touched && f['auction_amount_percentage'].invalid" class="validation_error">
                        <div *ngIf="f['auction_amount_percentage'].errors && f['auction_amount_percentage'].errors['required']">Incrément d'enchère minimum montant est requis.</div>
                      </div>
                    </div>

                    
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.error; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                    </div>
  
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>