<h4>ADD NEW ANNOUNCEMENT</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div style="display: flex;">
        <div class="col-sm-8">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Add Tittle" formControlName="title">
                <div *ngIf="f['title'].touched && f['title'].invalid" class="validation_error">
                    <div *ngIf="f['title'].errors && f['title'].errors['required']">Le titre est requis.</div>
                </div>
            </div>
            <div class="form-group">
                <angular-editor formControlName='message' (input)="showHTML()" [(ngModel)]="htmlContent" [config]="config"></angular-editor >

                <div *ngIf="f['message'].touched && f['message'].invalid" class="validation_error">
                    <div *ngIf="f['message'].errors && f['message'].errors['required']">Le message est requis.</div>
                </div>

            </div>
        </div>
        <div class="col-sm-4" style="border: 1px solid #e4e4e4;">
            <label for="">Publish</label>
            <div style="display: flex;">
                <!-- <button class="btn btn-outline-primary col-sm-7">Save as Draft</button> -->
                 
                <button class="btn btn-primary col-sm-3" style="float: left;"> Send</button>
            </div>
            <small> <i class="fas fa-upload"></i> Publish: immidietly</small>
            <hr>
            <label for="">Announcement Settings</label>
            <div class="form-group">
                <p style="margin-bottom: -5px;margin-left: 11px;">Send Announcement to:</p>
                <select class="form-select" formControlName="selecteduser">
                    <option value="">Veuillez sélectionner</option>
                    <option *ngFor="let player of vendors" [value]="player._id">
                        {{player.fullname}}
                    </option>
                </select>
                <div *ngIf="f['selecteduser'].touched && f['selecteduser'].invalid" class="validation_error">
                    <div *ngIf="f['selecteduser'].errors && f['selecteduser'].errors['required']">Le vendeur est requis.</div>
                </div>
            </div>


        </div>
    </div>
</form>