 

  
  <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Receipt</title> 
    </head>
<style type="text/css">

    * {
    font-size: 14px;
    font-family: Arial;
}

td,
th,
tr,
table {
    /*border-top: 1px solid black;*/
    border-collapse: collapse;
}

/* td,th,tr,table
{
    margin-bottom: 35px!important;
} */

.table td, .table th {
     
     border-top: none !important; 
     padding:0 10px;
     /*margin-bottom: 35px!important;*/
} /*
.table td
{
   margin-bottom: 35px!important;
}*/
td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 290px;
    max-width: 290px;
}
.text-center {
    text-align: center;
}
img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

button#btnPrint {
    margin-bottom: 50px;
}


</style>
    <body>
        <div class="ticket">

          <div>  <ngx-barcode *ngFor="let bcValue of values"  [bc-value]="bcValue" [bc-line-color]="lineColor"
            [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
            [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
            [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
           
          </div>
           <table class="table table-borderless" style="margin-top:75px;">
               <thead class="thead-class-custom" style="margin-top: 10px;">
                   <tr>
                       <th>Commande N° order_id </th>
                       <th>user_name</th>
                   </tr>
                   <tr>
                       <td>Le  "d/m/Y" payment_time  à  "H:i" payment_time  </td>
                   </tr>
                   
               </thead>
           </table>
            <table class="table table-bottom-line">
                <p class="text-center"> outlet_name </p>
                 
                <!-- @foreach($data["record"] as $val) -->
                     

                    <tr style="line-height: 25px;margin-bottom:30px; " id="">
                        <td class="product-head-name pb-2" style="padding-top: 10px;">
                            <h5 class="" style="margin-bottom:0;"><b> $val["product_name"] </b></h5> 
                        
                         </td>


                        <td class="text-right" style="width: 75px;padding-top: 10px;">single_product_total_price
                          €</td>
                    </tr>
                     
                    
                <!-- @endforeach -->
            </table>
              <table class="table table-borderless bottom-line">
                <tbody>
                    <tr class="product-detail-name">
                        <td class="product-name">Sous-total</td>
                        <td class="text-right">
                             
                         sub_total 
                        €</td>
                    </tr>
                     
                    <tr class="product-detail-name">
                        <td class="product-name">Frais de livraison</td>
                        <td class="float-right text-right"> shipping_charge  €</td>
                    </tr>
                    <tr class="product-detail-name">
                        <td class="product-name">
                            <span class="card_img"></span> Total</td>
                        <td class="float-right text-right"> final_price  €</td>
                    </tr>
                </tbody>
            </table>
            <p class="centered" style="padding-bottom: 15px;"> Merci d’avoir commandé , à très bientôt !</p>
            <div class="text-center"><button id="btnPrint" class="hidden-print btn btn-primary"> Imprimer</button></div>
        </div>
        
        
        
    </body>
</html>

