<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Plan de route</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Ajouter un plan de route</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">

                
                <!-- /.card-header -->
                <!-- form start -->
                <div class="row">
                  <div class="col-md-3">
                    <button
                      style="margin: 50px; padding: 10px"
                      type="button"
                      class="btn btn-primary"
                      (click)="openPopup2()"> +  Ajouter un arrêt
                    </button>
                  </div>


                  <div class="col-md-5">
                    <button
                      style="margin: 50px; padding: 10px"
                      type="button"
                      class="btn btn-primary"
                      (click)="openPopup()">+ Ajouter un arrêt (avec détail)
                    </button>
                  </div>
                  <ng-container *ngIf="route_id">

                    <div class="col-md-4">
                      <ng-container *ngIf="driver_id == '' || driver_id == 'undefined'|| driver_id == undefined; else elseRouteAssign ">
                        <a routerLink="/assignRoute/{{route_id}}"
                        style="margin: 50px; padding: 10px"
                        type="button"
                        class="btn btn-warning"
                        >Attribuer un itinéraire
                        </a>
                      </ng-container>
                      <ng-template #elseRouteAssign>
                        <a  href="/assignRouteToDriver/{{route_id}}/{{driver_id}}"
                        style="margin: 50px; padding: 10px"
                        type="button"
                        class="btn btn-warning"
                        >Attribuer un itinéraire
                        </a>
                      </ng-template>

                    </div>
                  </ng-container>
                  

                </div>
                

                <div class="modal"  tabindex="-1"  role="dialog" [ngStyle]="{'display':displayStyle2}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Ajouter un arrêt</h4>
                        <button type="button" class="btn btn-danger" 
                                (click)="closePopup2()">
                          X
                        </button>
                      </div>
                
                      <div class="modal-body">
                        <form [formGroup]="form" (ngSubmit)="submit()">
                          <div class="card-body">
                            <div class="row">
                              <input type="hidden" name="route_id" formControlName="route_id" [(ngModel)]="route_id">



                              <div class="col-md-12">
                                <div class="form-group col-md-10">
                                  <label class="form-label">Type de commande*</label>
                                    <div class="form-group">
                                      <input id="" type="radio" value="user_order" formControlName="orderType" (ngModelChange)="orderTypeFun($event)">
                                      &nbsp;<label for="dinner">Commande de l'utilisateur</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="merchant_order" formControlName="orderType" (ngModelChange)="orderTypeFun($event)">
                                      &nbsp;<label for="dinner">Commande du commerçant</label>
                                      <div *ngIf="f['orderType'].touched && f['orderType'].invalid" class="validation_error">
                                        <div *ngIf="f['orderType'].errors && f['orderType'].errors['required']">Le type de commande est requise.</div>
                                      </div>
                                    </div>
                                </div>
                              </div>




                              <div class="col-md-12" [ngStyle]="{display:merchant_display_val}">
                                <div class="form-group col-md-10">
                                  <label class="form-label">Type d'arrêt*</label>
                                    <div class="form-group">
                                      <input id="" type="radio" value="Delivery" formControlName="stopType" (ngModelChange)="onChangeR2($event)">
                                      &nbsp;<label for="dinner">Livraison</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="Pickup" formControlName="stopType" (ngModelChange)="onChangeR2($event)">
                                      &nbsp;<label for="dinner">Ramassage</label>
                                      <div *ngIf="f['stopType'].touched && f['stopType'].invalid" class="validation_error">
                                        <div *ngIf="f['stopType'].errors && f['stopType'].errors['required']">Le type d'arrêt est requise.</div>
                                      </div>
                                    </div>
                                </div>
                              </div>



                              <div class="col-md-12" [ngStyle]="{display:merchant_display_val}">
                                <div class="form-group col-md-10">
                                  <label class="form-label">Commande du commerçant *</label>
                                    <div class="form-group">
                                        <select class="form-control" name="merchant_order_id" formControlName="merchant_order_id" (ngModelChange)="onChangeR($event)">
                                          <option value="" >Veuillez sélectionner</option>
                                          <option *ngFor="let valOfShip of allShipmentId" value="{{valOfShip._id}}" >{{valOfShip.order_id}}</option>
                                      </select>
                                      <div *ngIf="f['merchant_order_id'].touched && f['merchant_order_id'].invalid" class="validation_error">
                                        <div *ngIf="f['merchant_order_id'].errors && f['merchant_order_id'].errors['required']">L'ordre du commerçant est requise.</div>
                                      </div>
                                    </div>
                                </div>
                              </div>


                              <div class="col-md-12" [ngStyle]="{display:user_display_val}">
                                <div class="form-group col-md-10">
                                  <label class="form-label">Type d'arrêt*</label>
                                    <div class="form-group">
                                      <input id="" type="radio" value="Delivery" formControlName="stopType2" (ngModelChange)="onChangeRUserType($event)">
                                      &nbsp;<label for="dinner">Livraison</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="Pickup" formControlName="stopType2" (ngModelChange)="onChangeRUserType($event)">
                                      &nbsp;<label for="dinner">Ramassage</label>
                                      <div *ngIf="f['stopType2'].touched && f['stopType2'].invalid" class="validation_error">
                                        <div *ngIf="f['stopType2'].errors && f['stopType2'].errors['required']">Le type d'arrêt est requise.</div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                              
                              <ng-container *ngIf="stop_type_for_user == 'Delivery'; else elseRandomOrderMulti ">

                                <div class="col-md-12" [ngStyle]="{display:user_display_val}" >
                                  <div class="form-group col-md-10">
                                    <label class="form-label">Commande de l'utilisateur *</label>
                                      <div class="form-group">
                                          

                                        <ng-multiselect-dropdown
                                          formControlName = "user_order_id_arr"
                                            [placeholder]="'Selectionnez un utilisateur'"
                                            [settings]="dropdownSettings"
                                            [data]="dropdownListNew"
                                            (onSelect)="onItemSelect($event)"
                                          >
                                        </ng-multiselect-dropdown>


                                        <div *ngIf="f['user_order_id'].touched && f['user_order_id'].invalid" class="validation_error">
                                          <div *ngIf="f['user_order_id'].errors && f['user_order_id'].errors['required']">L'ordre du commerçant est requise.</div>
                                        </div>
                                      </div>
                                  </div>
                                </div>

                                
                              </ng-container>
                              
                              <ng-template #elseRandomOrderMulti>
                                <div class="col-md-12" [ngStyle]="{display:user_display_val}" >
                                  <div class="form-group col-md-10">
                                    <label class="form-label">Commande de l'utilisateur *</label>
                                      <div class="form-group">
                                          <select class="form-control" name="user_order_id" formControlName="user_order_id" (ngModelChange)="onChangeUserOrder($event)" >
                                            <option value="" >Veuillez sélectionner</option>
                                            <option *ngFor="let valOfShip of all_user_order_Id" value="{{valOfShip._id}},{{valOfShip.order_id}},{{valOfShip.index}}" >U - {{valOfShip.order_id}}</option>
                                        </select>
                                        <div *ngIf="f['user_order_id'].touched && f['user_order_id'].invalid" class="validation_error">
                                          <div *ngIf="f['user_order_id'].errors && f['user_order_id'].errors['required']">L'ordre du commerçant est requise.</div>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>

                              <div class="col-md-12">
                                <div class="form-group col-md-10">
                                  <label class="form-label">Adresse*</label>
                                    <div class="form-group">
                                        <input formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"class="form-control"
                                        placeholder="Adresse" appBlockCopyPaste [(ngModel)]="address" />
                                      <div *ngIf="f['address'].touched && f['address'].invalid" class="validation_error">
                                        <div *ngIf="f['address'].errors && f['address'].errors['required']">Adresse de départ est requis.</div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                              
                              
                              <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Soumettre</button>
                              </div>
                
                              <div class="clearfix"></div>
                              <br>
                              <div class="comeBack_up" *ngIf="apiResponse">
                                <div *ngIf="apiResponse.error; else loggedOut">
                                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </div>
                                <ng-template #loggedOut>
                                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                
                      <div class="modal-footer">
                        
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal"  tabindex="-1"  role="dialog" [ngStyle]="{'display':displayStyle}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Ajouter un détail d'arrêt</h4>
                        <button type="button" class="btn btn-danger" 
                                (click)="closePopup()">
                          X
                        </button>
                      </div>

                      <div class="modal-body">
                        <form [formGroup]="form" (ngSubmit)="submit()">
                          <div class="card-body">
                            <div class="row">
                              <input type="hidden" name="route_id" formControlName="route_id" [(ngModel)]="route_id">

                              <div class="col-md-12">
                                <div class="form-group col-md-10">
                                  <label class="form-label">Type de commande*</label>
                                    <div class="form-group">
                                      <input id="" type="radio" value="user_order" formControlName="orderType" (ngModelChange)="orderTypeFun($event)">
                                      &nbsp;<label for="dinner">Commande de l'utilisateur</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="merchant_order" formControlName="orderType" (ngModelChange)="orderTypeFun($event)">
                                      &nbsp;<label for="dinner">Commande du commerçant</label>
                                      <div *ngIf="f['orderType'].touched && f['orderType'].invalid" class="validation_error">
                                        <div *ngIf="f['orderType'].errors && f['orderType'].errors['required']">Le type de commande est requise.</div>
                                      </div>
                                    </div>
                                </div>
                              </div>

                              
                              <div class="col-md-5">

                                <div class="form-group row">
                                  <label class="form-label col-md-4 col-lg-3">Type d'arrêt</label>
                                 
                                    <div class="form-group"> 
                                      <input id="" type="radio" value="Delivery" formControlName="stopType" (ngModelChange)="onChangeR2($event)">
                                      &nbsp;<label for="dinner">Livraison</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="Pickup" formControlName="stopType" (ngModelChange)="onChangeR2($event)">
                                      &nbsp;<label for="dinner">Ramassage</label>
                                      <div *ngIf="f['stopType'].touched && f['stopType'].invalid" class="validation_error">
                                        <div *ngIf="f['stopType'].errors && f['stopType'].errors['required']">Le type d'arrêt est requise.</div>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-10">
                                  <label class="form-label">Expédition*</label>
                                    <div class="form-group">
                                      <select class="form-control" name="merchant_order_id" formControlName="merchant_order_id" (ngModelChange)="onChangeR($event)">
                                          <option value="" >Veuillez sélectionner</option>
                                          <option *ngFor="let valOfShip of allShipmentId" value="{{valOfShip._id}}" >{{valOfShip.order_id}}</option>
                                      </select>
                                      <div *ngIf="f['merchant_order_id'].touched && f['merchant_order_id'].invalid" class="validation_error">
                                        <div *ngIf="f['merchant_order_id'].errors && f['merchant_order_id'].errors['required']">L'expédition est requise.</div>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-10">
                                  <label class="form-label">Adresse*</label>
                                    <div class="form-group">
                                        <input formControlName="address" [(ngModel)]="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"class="form-control"
                                        placeholder="Adresse" />
                                      <div *ngIf="f['address'].touched && f['address'].invalid" class="validation_error">
                                        <div *ngIf="f['address'].errors && f['address'].errors['required']">Adresse de départ est requis.</div>
                                      </div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-10">
                                  <label class="form-label">Priorité*</label>
                                     <div class="form-group">
                                        <select class="form-control" name="priority" formControlName="priority" [(ngModel)]="Normal">
                                           <option value="Normal" >Normal</option>
                                           <option value="Medium">Moyenne</option>
                                           <option value="High">Élevé</option>
                                        </select>
            
                                        <div *ngIf="f['priority'].touched && f['priority'].invalid" class="validation_error"> 
                                          <div *ngIf="f['priority'].errors && f['priority'].errors['required']">Le Priorité est obligatoire</div>
                                        </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-10">
                                  <label class="form-label">Nom complet</label>
                                    <div class="form-group">
                                      <input type="text" formControlName="fullName"
                                        id="fullName"  
                                        class="form-control"
                                        placeholder="Nom complet">
                                    </div>
                                </div>
                                <div class="form-group col-md-10">
                                  <label class="form-label">Téléphone</label>
                                    <div class="form-group">
                                      <input type="number" formControlName="mobileNumber"
                                        id="mobileNumber"  
                                        class="form-control"
                                        placeholder="Numéro de mobile">
                                    </div>
                                </div>
                                
                                <div class="form-group  col-md-10">
                                  <label class="form-label">Durée du service en minutes</label>
                                    <div class="form-group"> 
                                      <select class="form-control" name="serviceTime" formControlName="serviceTime">
                                        <option value="">Sélectionnez le priorité</option>
                                        <option *ngFor="let val of numericArray" [value]="val">{{val}}</option>
                                      </select>
                                    </div>
                                </div>

                              </div>
                              <div class="col-md-7">

                                <div class="form-group col-md-10">
                                  <label class="form-label">Notes</label>
                                    <div class="form-group">
                                      <input type="text" formControlName="notes"
                                        id="notes"  
                                        class="form-control"
                                        placeholder="Notes">
                                    </div>
                                </div>

                                <div class="form-group col-md-10">
                                  <label class="form-label">Nom de l'entreprise</label>
                                    <div class="form-group">
                                      <input type="text" formControlName="businessName"
                                        id="businessName"  
                                        class="form-control"
                                        placeholder="Nom de l'entreprise">
                                    </div>
                                </div>
                                <div class="form-group col-md-10">
                                  <label class="form-label">Email</label>
                                    <div class="form-group">
                                      <input type="email" formControlName="email"
                                        id="email"  
                                        class="form-control"
                                        placeholder="Courriel">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                  <label class="form-label col-md-4 col-lg-3">Place dans le véhicule</label>
                                  <div class="col-xl-5 col-md-8 col-lg-6">
                                    <div class="form-group"> 
                                      <input id="" type="radio" value="Front" formControlName="parcelFront" >
                                      &nbsp;<label for="dinner">Avant</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="Middle" formControlName="parcelFront" >
                                      &nbsp;<label for="dinner">Milieu</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="Back" formControlName="parcelFront" >
                                      &nbsp;<label for="dinner">Arrière</label>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group row">
                                  <label class="form-label col-md-4 col-lg-3">Place dans le véhicule</label>
                                  <div class="col-xl-5 col-md-8 col-lg-6">
                                    <div class="form-group"> 
                                      <input id="" type="radio" value="Left" formControlName="parcelLeft" >
                                      &nbsp;<label for="dinner">Gauche</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="Right" formControlName="parcelLeft" >
                                      &nbsp;<label for="dinner">Droite</label>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group row">
                                  <label class="form-label col-md-4 col-lg-3">Place dans le véhicule</label>
                                  <div class="col-xl-5 col-md-8 col-lg-6">
                                    <div class="form-group"> 
                                      <input id="" type="radio" value="Floor" formControlName="parcelFloor" >
                                      &nbsp;<label for="dinner">Plancher</label>&nbsp;&nbsp;
                                      <input id="" type="radio" value="Shelf" formControlName="parcelFloor" >
                                      &nbsp;<label for="dinner">Étagère</label>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group row mb-0">
                                  <label class="form-label col-md-4 col-lg-3">Nombre de parcelles</label>
                                  <div class="col-xl-5 col-md-8 col-lg-6">
                                    <div class="form-group">
                                      <input type="number" formControlName="parcelCount"
                                        id="parcelCount"  
                                        class="form-control"
                                        placeholder="Nombre de parcelles">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row mb-0">
                                  <label class="form-label col-md-4 col-lg-3">Image de la parcelle</label>
                                  <div class="col-xl-5 col-md-8 col-lg-6">
                                    <div class="form-group">
                                      <input type="file" formControlName="images"(change)="onFileChange($event)"
                                      accept="image/png, image/jpeg, image/jpg, image/gif">
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Soumettre</button>
                              </div>

                              <div class="clearfix"></div>
                              <br>
                              <div class="comeBack_up" *ngIf="apiResponse">
                                <div *ngIf="apiResponse.error; else loggedOut">
                                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </div>
                                <ng-template #loggedOut>
                                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>

                      <div class="modal-footer">
                       
                      </div>
                    </div>
                  </div>
                </div>


                <ng-container *ngIf="route_id">
                  <div class="row">

                    <div class="col-md-6">
                      <div class="table-responsive">
                        <!-- <table class="table table-striped"   datatable [dtOptions]="dtOptions"> -->
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th style="width: 10px">#</th> 
                              <th>Adresse</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                              
                            <tr *ngFor="let val of allStops let i = index">
                              <td>{{ i+1 }}</td> 
                              <td>{{ val.address}}</td>
                              <td>
                                <a  class="btn btn-info btn-sm" routerLink="/editStop/{{val._id}}"><i class="fas fa-pencil-alt">
                                </i></a> <div class="clearfix"></div> &nbsp;&nbsp;<div class="clearfix"></div>
                                <a  class="btn btn-primary btn-sm" (click)="deleteStop(val._id)"><i class="fas fa-trash">
                                </i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>  
                    </div>

                    <div class="col-md-6">
                      <div #map style="width: 100%; height: 600px"></div>
                    </div>

                  </div>
                </ng-container>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>