<h2>Pick Category</h2>
<ul >
    <li *ngFor="let item of myArray; let i = index">
      <button (click)="toggle[i] = !toggle[i]" class="btn btn-primary" (click)="selectone(item.title)">{{item.title }} - {{i+1}}</button>
      <div *ngIf="item.children && toggle[i]">
        <ng-container *ngTemplateOutlet="tree; context: { $implicit: item.children, idx: i }"></ng-container>
      </div>
    </li>
  </ul>
  
  <ng-template #tree let-allItems let-idx="idx">
    <ul class="firstcat" style="border-left: 1PX dotted GRAY;">
      <li *ngFor="let item of allItems; let n = index">
       
        <button class="btn btn-success" (click)="toggle[idx + '.' + n] = !toggle[idx + '.' + n]" (click)="selecttwo(item.title)">{{item.title}} - {{ idx + '.' + n}}</button>
        <button (click)="toggle[idx] = !toggle[idx]" class="btn btn-danger"  >X</button>
        <div *ngIf="item.children && toggle[idx + '.' + n]" style="margin-left: 70px;">
          <ng-container *ngTemplateOutlet="tree; context: { $implicit: item.children, idx: idx + '.' + n }"></ng-container>
        </div>
      </li>
    </ul>
  </ng-template>

  <div style='border:1px dashed #2171ae; padding: 10px; border-radius: 4px;'>
     
    <p><label>Selected :</label> {{maincategory}} >> {{subcaregory}}</p>
  </div>