<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Coordonnées bancaires</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Coordonnées bancaires</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
            
               
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                        <th>Nom de la banque</th>
                        <th>Numéro de compte</th>
                        <th>Nom du compte</th>
                        <th>Adresse de la banque</th>
                        <th>IBAN</th>
                        <th>BIC</th>
                        <th>Statut</th>
                        <td>Actions</td>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of record | filter:searchText ">
                      <td>{{d.bank_name}}</td>
                      <td>{{d.account_number}}</td>
                      <td>{{d.account_name}}</td>
                      <td>{{d.bank_address}}</td>
                      <td>{{d.iban}}</td>
                      <td>{{d.bic}}</td>
                      <td>
                          <div class="badge" style="color:green" *ngIf="d.is_default==true "> Oui</div>
                          <div class="badge" style="color:red" *ngIf="d.is_default==false ">Non</div>
                      </td>
                      <td>
                          <a routerLink="/editBankDetail/{{id}}/{{d._id}}">Modifier</a>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </section>
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>