<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Abonnements</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div style="margin-left: 14px;display: flex;">
                    <p style="color: #2171ae;font-size: 12px;"> &nbsp;&nbsp;</p>
                    
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
                <!-- <div style="display: flex;">
                    <select class="form-select">
                        <option >Vendor</option>
                        <option >options</option>
                    </select>
                    
                    <select class="form-select">
                        <option >Type</option>
                        <option >options</option>
                    </select>
                    <select class="form-select">
                        <option >Statut</option>
                        <option >option</option>
                    </select>
                    <input type="text" class="form-control" placeholder="email">
                    <select class="form-select">
                        <option >date de debut</option>
                        <option >option</option>
                    </select>
                    <select class="form-select">
                        <option >date de fin</option>
                        <option >option</option>
                    </select>
                    <button class="btn btn-secondary">Fitlter</button>
                  
                </div> -->
                <table id="basic-data-table" class="table nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th>Paquet</th>
                        <th>Plus par produit</th>
                        <th>Commission additionnelle</th>
                        <th>Prix</th>
                        <th>Durée de l'offre</th>
                        <th>Nombre d'articles</th>
                        <th>Limitée</th>
                        <th>Description</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                  
                    <tbody>
                        <tr *ngFor="let d of orders | filter:searchText ">
                            <td>{{d.package}}</td>
                            <td>{{d.plusperproduct}}</td>                          
                            <td >{{d.extracommission}}</td>
                            <td>{{d.price}}</td>
                            <td>{{d.duration}}</td>
                            <td>{{d.Numberofitems}}</td>
                            <td>
                                <ng-container *ngIf="d.is_limited == true; else limitedElse">
                                    Oui
                                </ng-container>
                                <ng-template #limitedElse>
                                    Non
                                </ng-template>
                            </td>
                            <td>{{d.description}}</td>
                            <td><a routerLink="/editPlan/{{d._id}}">Modifier</a></td>
                        </tr>
                        <tr *ngIf="orders.length ==0">
                            Pas d'éléments trouvés
                        </tr>
                       
                        
                    </tbody>
                  </table>
                
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>