<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Retrait des  demandes</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <!-- <div style="margin-left: 14px;display: flex;">
                    <p style="color: #2171ae;font-size: 12px;">En attente ({{data.length}}) &nbsp;| &nbsp;</p>
                    <p style="color: #2171ae;font-size: 12px;">Approvue ({{data.length}}) &nbsp;| &nbsp;</p>
                    <p style="color: #2171ae;font-size: 12px;">Annule ({{data.length}}) &nbsp; &nbsp;</p>
                </div> -->
                <div style="display: flex;"> 
                    
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div style="display: flex;">
                            <select class="form-select" formControlName="action_delete">
                                <option value="">Actions Groups</option>
                                <option value="approve">Approuver</option>
                                <option value="cancel">Annuler</option>
                            </select>
                            <button class="btn btn-secondary">Apply</button>
                        </div>
                    </form>
                </div>
                <table id="basic-data-table" class="table nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th> <input type="checkbox" [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)"></th>
                        <th >Vendor</th>
                        <th>Email</th>
                        <th>Montant</th>
                        <th >Statut</th>
                        <th>Methode</th>
                        <th>Note</th>
                        <th>Date</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <ng-container *ngIf="users.length > 0; else elseUsers"> 
                        <tbody>
                            <tr *ngFor="let d of users">
                                <td>
                                    <ng-container *ngIf="d.is_rejected == false">
                                        <input type="checkbox"   [(ngModel)]="d.is_checked" (ngModelChange)="onSelectAll2(d._id,$event)" >
                                    </ng-container>
                                </td>
                                <td >{{d.provider_name}}</td>
                                <td>{{d.email}}</td>
                                <td>{{d.request_amount}}</td>
                                <td>
                                    
                                    <ng-container *ngIf="d.payment_status == true;else statusPayment">
                                        
                                        <div class="badge" style="color:green" >Payé</div>
                                    </ng-container>
                                    <ng-template #statusPayment>
                                        <div class="badge" style="color:red" >Non payé</div>
                                    </ng-template>
                                </td>
                                <td>{{d.Methode}}</td>
                                <td>{{d.note}}</td>
                                <td>{{d.request_date | date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td>#</td>
                            </tr>
                            <tr *ngIf="users.length ==0">
                                Aucun élément trouvé
                            </tr>
                        </tbody>
                    </ng-container>
                    <ng-template #elseUsers>
                    <tbody >
                      <tr>
                          <td class="no-data" colspan="10">
                              <i class="fa fa-file"></i>
                              <p>Aucune donnée trouvée</p>
                          </td>
                      </tr>
                    </tbody>
                  </ng-template>
                  </table>
                  <div class="clearfix"></div>
                        <br>
                        <ul class="pagination">
                            <li   *ngFor="let item of numbers; let i = index"  
                            [class.active]="selectedIndex === i"
                            (click)="getallColor(item)">
                            <a class="" href="javascript:void(0)">{{item+1}}</a>
                            </li> 
                        </ul>
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>