<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Organisateur</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Total des organisateur</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                          
                          <th>#</th>
                          <th>Montant demandé</th>
                          <th>Nom complet</th>
                          <th>Email</th>  
                          <th>Banque</th>
                          <th>Nom du compte</th>
                          <th>IBAN</th>
                          <th>BIC</th>
                          <th>Status</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let d of vendors let i = index  ">
                          

                           <td>{{i+1}}</td>
                          <td>{{ d.request_amount }}</td> 
                          <td>{{ d.org_name }}</td>
                          <td>{{ d.email }}</td>
                          <td>{{ d.bank }}</td>
                          <td>{{ d.accountname }}</td>
                          <td>{{ d.iban }}</td>
                          <td>{{ d.bic }}</td>
                          <td>
                            <ng-container *ngIf="d.payment_status == true; else elsePayStatus">
                              
                              <div class='badge' style="color: green;">
                                Payé
                            </div>

                            </ng-container>
                            <ng-template #elsePayStatus>
                              
                              <div class='badge' style="color: red;" >
                                Non payé
                            </div>
                            </ng-template>
                          </td>

                      </tr>
                      <div class="clearfix"></div>
                      <br>
                      <ul class="pagination">
                          <li   *ngFor="let item of numbers; let i = index"  
                          [class.active]="selectedIndex === i"
                          (click)="getallColor(item)">
                          <a class="" href="javascript:void(0)">{{item+1}}</a>
                          </li> 
                      </ul>

                      <div class="clearfix"></div>
                  <br>

                  </tbody>
              </table>
              <!-- <div>
                  <input type="checkbox"  [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)">
                  <div *ngFor="let d of data;">
                      <input type="checkbox" [(ngModel)]="d.is_selected">
                      <span>{{ d.name }}</span>
                  </div>
                </div> -->


          </section>
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>