 
<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Vendeurs supprimés</h1>
                         
                                
                                
                              
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Tableau de vendeurs supprimés</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              <!-- <div style="margin-left: 14px;display: flex;">
                  <p style="color: #2171ae;font-size: 12px;">All({{data.length}}) &nbsp;| &nbsp;</p>
                  <p style="color: #2171ae;font-size: 12px;">Completed({{data.length}}) &nbsp;| &nbsp;</p>
                  <p style="color: #2171ae;font-size: 12px;">Cancelled({{data.length}}) &nbsp;| &nbsp;</p>
                  <input type="text" class="form-control" placeholder="Search Orders" [(ngModel)]="searchText">
              </div> -->
              <div class="clearfix"></div><br>
              <div style="display: flex;">
                  <!-- <form [formGroup]="form" (ngSubmit)="submit()">
                      <div style="margin-left: 14px;display: flex;">
                          
                          
                      </div>
                      <div style="display: flex;">
                          <select class="form-select" formControlName="action_delete">
                              <option value="">Actions Groups</option>
                              <option value="delete">Supprimer</option>
                          </select>
                          <button class="btn btn-secondary">Appliquer</button>
                      </div>
                  </form> -->

              </div>
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                          <th> <input type="checkbox" [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)" >
                          </th>
                          <th>Photo</th>
                          <th>Store</th>
                          <th>Courriel</th>
                          <th>Téléphone</th>
                          <th>Enregistré</th>
                          <th>Statut</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                    <ng-container *ngIf="vendors.length > 0; else elseUsers">
                        <tbody>
                            <tr *ngFor="let d of vendors   ">
                                
                                <td><input type="checkbox" [(ngModel)]="d.is_checked" (ngModelChange)="onSelectAll2(d._id,$event)" ></td>

                                <td><img *ngIf="d.photo" style="width:130px;" src="{{base_url_two}}static/public/{{d.photo}}"></td>

                                <td    
                                    >  {{d.fullname}}</td>
                                <td   style="color: #2171ae;">{{d.email}}</td>
                                <td  >{{d.phone}}</td>
                                <td >{{d.created_at  | date: "dd/MM/yyyy HH:mm"}}</td> 
                                <td>
                                    
                                    <div class="badge" style="color:green" *ngIf="d.is_active == true "> Actif</div>
                                    <div class="badge" style="color:red" *ngIf="d.is_active == false ">Inactif</div>
                                </td>


                                <td >#
                                </td>
                            </tr>

                            
                            
                        </tbody>
                        </ng-container>
                    <ng-template #elseUsers>
                    <tbody >
                      <tr>
                          <td class="no-data" colspan="10">
                              <i class="fa fa-file"></i>
                              <p>Aucune donnée trouvée</p>
                          </td>
                      </tr>
                    </tbody>
                  </ng-template>

              </table>
              <div class="clearfix"></div>
                 <div class="comeBack_up" *ngIf="apiResponse">
                  <div *ngIf="apiResponse.status == false; else loggedOut">
                    <div class="alert alert-danger"><strong>{{ apiResponse.message }}</strong></div>
                  </div>
                  <ng-template #loggedOut>
                    <div class="alert alert-success"><strong>{{ apiResponse.message }}</strong></div>
                  </ng-template>
                </div>
              <div class="clearfix"></div>
               
              <div>
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                      (click)="getallColor(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
              </div>
              
          </section>
          
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>