<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Profil</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Mise à jour du profil</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Mise à jour du profil<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                 
                    <div class="form-group">
                      <label for="exampleInputEmail1">Prénom</label>
                      <input type="text" formControlName="firstName"
                        id="firstName"  
                        class="form-control"
                        placeholder="Prénom"
                        [(ngModel)]="old_firstName">
                      <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="validation_error">
                        <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">Prénom est requis.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Nom de famille</label>
                      <input type="text" formControlName="lastName"
                        id="lastName"  
                        class="form-control"
                        placeholder="Nom de famille"
                        [(ngModel)]="old_lastName">
                      <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="validation_error">
                        <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Nom de famille est requis.</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Courriel</label>
                      <input type="text" formControlName="email"
                        id="email"  
                        class="form-control"
                        placeholder="Nom de famille"
                        [(ngModel)]="old_email">
                      <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                        <div *ngIf="f['email'].errors && f['email'].errors['required']">Courriel est requis.</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="file">Image</label><br><div class="clearfix"></div>
                    <input
                        formControlName="images"
                        id="images"
                        type="file"
                        (change)="onFileChange($event)"
                        accept="image/png, image/jpeg, image/jpg, image/gif">
                    <div *ngIf="f['images'].touched && f['images'].invalid" class="validation_error">
                        <div *ngIf="f['images'].errors && f['images'].errors['required']">Le fichier est requis.</div>
                    </div>
                    <div class="clearfix"></div><br>
                    <div class="row">
                      <div class="col-md-12">
                        <img *ngIf="old_userImage" src="{{base_url_node_only}}public/uploads/adminProfile/{{old_userImage}}" height="150" width="150"><br>
                      </div>
                    </div>
                </div>
  
                     
  
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.error; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                    </div>
  
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>