<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
    
        <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <!-- Content Wrapper. Contains page content -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1> Demande de paiement</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                  <li class="breadcrumb-item active">Tous demande de paiement</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Tous demande de paiement<small> </small></h3>
                  </div>
                  <div class="clearfix"></div><br>
                  <!-- <div>
                    <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportCsvDriverApi"  target="_blank" download="download"  >Exporter csv</a></b>
                  </div> -->
                  <!-- /.card-header -->
                  <!-- form start -->
                   <div class="card">
                  <div class="card-header">
                    <h3 class="card-title"> </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <!-- <form [formGroup]="form" (ngSubmit)="submit()">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom</label>
                                <input type="text" formControlName="fullName"
                                  id="fullName"  
                                  class="form-control"
                                  placeholder="Nom"
                                  >
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Courriel</label>
                              <input type="text" formControlName="email"
                                id="email"  
                                class="form-control"
                                placeholder="Nom de famille"
                                >
                            </div>
                          </div>
                          <div class="col-md-4"> 
                            <div class="form-group">
                              <label for="exampleInputEmail1">Numéro de portable</label>
                              <input type="text" formControlName="mobileNumber"
                                id="mobileNumber"  
                                class="form-control"
                                placeholder="Numéro de portable"
                                >
                            </div>
                          </div>
                          
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Statut</label>
                                <select name="status" formControlName="status"  
                                  class="form-control"
                                  >
                                <option value="">Veuillez sélectionner</option>
                                <option value="1">Actif</option>
                                <option value="2">Inactif</option>
                              </select>
                            </div>
                          </div>
    
                        </div>
                      </div>
                       
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Soumettre</button>
                        &nbsp;&nbsp;&nbsp;
                        <a href="{{base_url}}allDrivers" class="btn btn-warning">Réinitialisation</a>
    
    
                      </div>
                      <div class="card-footer">
                        
                      </div>
                    </form> -->
    
                    
    
    
                  <div class="table-responsive">
                    <!-- <table class="table table-striped"   datatable [dtOptions]="dtOptions"> -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th> 
                          <!-- <th>Nom de la route</th> -->
                          <th>Montant de la demande</th>
                          <th>Note</th>
                          <th>Date de la demande</th>
                          <th>Nom de la banque</th>
                          <th>Numéro de compte</th>
                          <th>IBAN</th>
                          <th>BIC</th>
                          <th>Statut</th> 
                           <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                         
                        <tr *ngFor="let val of record let i = index">
                          <td>{{ i+1 }}</td> 
                          <!-- <td>{{ val.provider_name}}</td> -->
                          <td>{{ val.request_amount}}</td>
                          <td>{{ val.note}}</td>
                          <td>{{ val.request_date}}</td>
                          <td>
                            <ng-container *ngIf="val.bankRec.length > 0">
                                <ng-container  *ngFor="let bank_val of val.bankRec">
                                    <ng-container *ngIf="bank_val._id == val.bank_id">
                                     {{bank_val.bank_name}}
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                          </td>


                          <td>
                            <ng-container *ngIf="val.bankRec.length > 0">
                                <ng-container  *ngFor="let bank_val of val.bankRec">
                                    <ng-container *ngIf="bank_val._id == val.bank_id">
                                     {{bank_val.account_number}}
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                          </td>
                          <td>
                            <ng-container *ngIf="val.bankRec.length > 0">
                                <ng-container  *ngFor="let bank_val of val.bankRec">
                                    <ng-container *ngIf="bank_val._id == val.bank_id">
                                     {{bank_val.iban}}
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                          </td>
                          <td>
                            <ng-container *ngIf="val.bankRec.length > 0">
                                <ng-container  *ngFor="let bank_val of val.bankRec">
                                    <ng-container *ngIf="bank_val._id == val.bank_id">
                                     {{bank_val.bic}}
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                          </td>


                          <td>
                            
                            <div *ngIf="val.payment_status == true; else statusOut">
                                <span class="badge bg-success">Payé</span>
                            </div>
                            <ng-template #statusOut>
                                <span class="badge bg-info">Aucune</span>
                            </ng-template>
      
                            
                          </td>
                          <td>
                            <div *ngIf="val.is_rejected == false; ">
                                
                                <ng-container *ngIf="val.payment_status == false; ">
                                    <a class="btn btn-success" (click)="markPaymentDone(val._id,'d')">Mark a payé</a>
                                    <div class="clearfix"></div>&nbsp;
    
                                <a class="btn btn-danger" (click)="markPaymentDone(val._id,'c')">Rejeter les marques</a>
                                </ng-container>

                                
                            </div>
                             
                          </td> 
                        </tr>
                      </tbody>
                    </table>
                  </div>  
                  <div class="clearfix"></div>
                    <br>
                    <ul class="pagination">
                        <li   *ngFor="let item of numbers; let i = index"  
                        [class.active]="selectedIndex === i"
                          (click)="getallBanner(item)">
                          <a class="" href="javascript:void(0)">{{item+1}}</a>
                        </li> 
                    </ul>
                    <div class="clearfix"></div>
                    <br>
                  <div class="comeBack_up" *ngIf="apiResponse_2">
                      <div *ngIf="apiResponse_2.status; else loggedOut">
                        <div class="alert alert-success"><strong>{{ apiResponse_2.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-danger" *ngIf="apiResponse_2.errorMessage"><strong>{{ apiResponse_2.errorMessage }}</strong></div>
                      </ng-template>
                  </div>
    
    
                  </div>
                  <!-- /.card-body -->
                </div>
                </div>
                <!-- /.card -->
                </div>
              <!--/.col (left) -->
              <!-- right column -->
              <div class="col-md-6">
    
              </div>
              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- /.content-wrapper -->
    
      <!-- Control Sidebar -->
      <!-- <aside class="control-sidebar control-sidebar-dark">
      </aside> -->
        <!-- Control sidebar content goes here -->
      <!-- /.control-sidebar -->
    
      
       <app-adminfooter></app-adminfooter>
    </div>
    </body>