.logo-parent{
  background: #1b2433;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px;
  z-index: 9;
  position: relative;
}