<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Categories</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div>
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <div class="card-body">
                                
                                
                                
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" id="title" formControlName="title" class="form-control" placeholder="" >
                                    <div *ngIf="f['title'].touched && f['title'].invalid" class="validation_error">
                                        <div *ngIf="f['title'].errors && f['title'].errors['required']">Le titre est requis</div>
                                      </div>

                                </div>
                                 
                                <div class="form-group">
                                    <label class="form-label">Parent Category</label>
                                    <select class="form-select" formControlName="mastercatagory">
                                        <option value="">Veuillez sélectionner</option>
                                        <option *ngFor="let player of allMainCategory" [value]="player._id">
                                            {{player.title}}
                                        </option>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <label for="">Thumbnail</label>
                                    <input type="file" formControlName="images" (change)="onFileChange($event)" class="form-control">
                                </div>
                                
                                    <button type="submit" class="btn btn-primary">Soumettre</button>
                                    &nbsp;&nbsp;&nbsp;
                                     
                                <div class="clearfix"></div>
                                <br>
                                <div class="comeBack_up" *ngIf="apiResponse">
                                    <div *ngIf="apiResponse.status == false; else loggedOut">
                                    <div class="alert alert-danger"><strong>{{ apiResponse.errmessage }}</strong></div>
                                    </div>
                                    <ng-template #loggedOut>
                                    <div class="alert alert-success" *ngIf="apiResponse.errmessage"><strong>{{ apiResponse.errmessage }}</strong></div>
                                    </ng-template>
                                </div>
                
                                  
                            </div>


                        </form>
                     
                </div>


            </section>

            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>