<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a outerLink="/dashboard" class="brand-link">
    <!-- <img src="../../assets/admin-js-css/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8"> -->
    <!-- <span class="brand-text font-weight-light">AdminLTE 3</span> -->
    <img src="{{base_url_node_only}}public/uploads/admin-sidebar-logo.png"       height= "50"
    width="231">
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img *ngIf="old_userImage; else imageNotAvaiAdmin" src="{{old_userImage}}" class="img-circle elevation-2"
          alt="User Image">
        <ng-template #imageNotAvaiAdmin>
          <img src="../../assets/admin-js-css/dist/img/user2-160x160.jpg" class="img-circle elevation-2"
            alt="User Image">
        </ng-template>
      </div>
      <div class="info">
        <a routerLink="/editAdminProfile" class="d-block">{{old_firstName}} {{old_lastName}}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item" [ngClass]="(currentUrlSegment=='dashboard')?'menu-open':''">
          <a href="#" class="nav-link" [ngClass]="(currentUrlSegment=='dashboard')?'active':''">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Tableau de bord
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard" class="nav-link" [ngClass]="(currentUrlSegment=='dashboard')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tableau de bord</p>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='addBannerMiddle' || currentUrlSegment=='allBannerMiddle'|| currentUrlSegment=='editBannerMiddle')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='addBannerMiddle' || currentUrlSegment=='allBannerMiddle'|| currentUrlSegment=='editBannerMiddle')?'active':''">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Bannière centrale d'accueil 
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/addBannerMiddle" class="nav-link" [ngClass]="(currentUrlSegment=='addBannerMiddle')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Ajouter</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allBannerMiddle" class="nav-link"
                [ngClass]="(currentUrlSegment=='allBannerMiddle'|| currentUrlSegment=='allBannerMiddle' || currentUrlSegment=='editBannerMiddle')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tous</p>
              </a>
            </li>

          </ul>
        </li>



        <!-- <li class="nav-item"
          [ngClass]="(currentUrlSegment=='addDriver' || currentUrlSegment=='allDrivers'|| currentUrlSegment=='viewDriverDocument' || currentUrlSegment=='editDriver')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='addDriver' || currentUrlSegment=='allDrivers'|| currentUrlSegment=='viewDriverDocument' || currentUrlSegment=='editDriver')?'active':''">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Chauffeur
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/addDriver" class="nav-link" [ngClass]="(currentUrlSegment=='addDriver')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Ajouter des utilisateurs</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allDrivers" class="nav-link"
                [ngClass]="(currentUrlSegment=='allDrivers'|| currentUrlSegment=='viewDriverDocument' || currentUrlSegment=='editDriver')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tous les chauffeur</p>
              </a>
            </li>

          </ul>
        </li> -->

        <!-- <li class="nav-item"
          [ngClass]="(currentUrlSegment=='allMerchant'|| currentUrlSegment=='adminClientDetail' || currentUrlSegment=='allClient')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="( currentUrlSegment=='allMerchant'|| currentUrlSegment=='adminClientDetail' || currentUrlSegment=='allClient')?'active':''">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Marchands
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/allMerchant" class="nav-link"
                [ngClass]="(currentUrlSegment=='allMerchant'|| currentUrlSegment=='adminClientDetail'|| currentUrlSegment=='allClient')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tous les marchands</p>
              </a>
            </li>

          </ul>
        </li> -->


        <!-- <li class="nav-item"  [ngClass]="(currentUrlSegment=='allShipment' || currentUrlSegment=='editShipment' || currentUrlSegment=='adminShipmentDetail')?'menu-open':''">
          <a href="#" class="nav-link"  [ngClass]="( currentUrlSegment=='allShipment' || currentUrlSegment=='editShipment' || currentUrlSegment=='adminShipmentDetail')?'active':''">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Expéditions
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            
            <li class="nav-item">
              <a routerLink="/allShipment" class="nav-link"  [ngClass]="(currentUrlSegment=='allShipment' || currentUrlSegment=='editShipment' || currentUrlSegment=='adminShipmentDetail')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Toutes les expéditions</p>
              </a>
            </li>

          </ul>
        </li> -->

        <!-- <li class="nav-item"  [ngClass]="(currentUrlSegment=='demoRoutePlan' || currentUrlSegment=='addRoute'|| currentUrlSegment=='allRoute'|| currentUrlSegment=='assignRoute' || currentUrlSegment=='assignRouteToDriver')?'menu-open':''">
          <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='demoRoutePlan' || currentUrlSegment=='addRoute'|| currentUrlSegment=='allRoute' || currentUrlSegment=='assignRoute' || currentUrlSegment=='assignRouteToDriver')?'active':''">
            <i class="nav-icon far fa-image"></i>
            <p>
              Plan de route
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            
            <li class="nav-item">
              <a routerLink="/addRoute" class="nav-link"  [ngClass]="(currentUrlSegment=='addRoute')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Ajouter un plan de route</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allRoute" class="nav-link"  [ngClass]="(currentUrlSegment=='allRoute' || currentUrlSegment=='assignRoute'  || currentUrlSegment=='assignRouteToDriver')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tous les plans de route</p>
              </a>
            </li>

            
          </ul>
        </li> -->

        
        


        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='users'|| currentUrlSegment=='editprofile' || currentUrlSegment=='allActiveUsers'|| currentUrlSegment=='allInActiveUsers'|| currentUrlSegment=='allDeletedUsers')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='users'|| currentUrlSegment=='editprofile' || currentUrlSegment=='allActiveUsers'|| currentUrlSegment=='allInActiveUsers'|| currentUrlSegment=='allDeletedUsers')?'active':''">
            <i class="nav-icon fas fa-users"></i>
            <p>

              Gestion des utilisateurs

              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a routerLink="/users" class="nav-link" [ngClass]="(currentUrlSegment=='users'|| currentUrlSegment=='editprofile')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Utilisateurs</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allInActiveUsers" class="nav-link" [ngClass]="(currentUrlSegment=='allInActiveUsers' )?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Nouveaux utilisateurs</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allActiveUsers" class="nav-link" [ngClass]="(currentUrlSegment=='allActiveUsers' )?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Utilisateurs actifs</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allDeletedUsers" class="nav-link" [ngClass]="(currentUrlSegment=='allDeletedUsers' )?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Utilisateurs supprimés</p>
              </a>
            </li>

          </ul>
        </li>


        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='withdraw' || currentUrlSegment=='sellers'|| currentUrlSegment=='abuse_report' || currentUrlSegment=='store_reviews' || currentUrlSegment=='refunds'|| currentUrlSegment=='reports'|| currentUrlSegment=='editvendor'  || currentUrlSegment=='activeSeller'  || currentUrlSegment=='inActiveSeller'  || currentUrlSegment=='deletedSeller')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='withdraw' || currentUrlSegment=='sellers'|| currentUrlSegment=='abuse_report' || currentUrlSegment=='store_reviews' || currentUrlSegment=='refunds'|| currentUrlSegment=='reports' || currentUrlSegment=='editvendor'  || currentUrlSegment=='activeSeller'  || currentUrlSegment=='inActiveSeller'  || currentUrlSegment=='deletedSeller')?'active':''">
            <i class="nav-icon fas fa-building"></i>
            <p>

              Gestion des vendeurs

              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/withdraw" class="nav-link" [ngClass]="(currentUrlSegment=='withdraw')?'active':''">
                <i class="nav-icon fas fa-credit-card"></i>
                <p>
                  Retirer
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/inActiveSeller" class="nav-link" [ngClass]="(currentUrlSegment=='inActiveSeller' )?'active':''">
                <i class="nav-icon fas fa-store"></i>
                <p>
                  Nouveaux vendeurs
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/activeSeller" class="nav-link" [ngClass]="(currentUrlSegment=='activeSeller' )?'active':''">
                <i class="nav-icon fas fa-store"></i>
                <p>
                  Vendeurs actifs
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/sellers" class="nav-link" [ngClass]="(currentUrlSegment=='sellers' || currentUrlSegment=='editvendor')?'active':''">
                <i class="nav-icon fas fa-store"></i>
                <p>
                  Vendeurs
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/deletedSeller" class="nav-link" [ngClass]="(currentUrlSegment=='deletedSeller' )?'active':''">
                <i class="nav-icon fas fa-store"></i>
                <p>
                  Vendeurs supprimés
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/abuse_report" class="nav-link" [ngClass]="(currentUrlSegment=='abuse_report')?'active':''">
                <i class="nav-icon fas fa-ban"></i>
                <p>
                  Rapports d'abus
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/store_reviews" class="nav-link" [ngClass]="(currentUrlSegment=='store_reviews')?'active':''">
                <i class="nav-icon fas fa-comment"></i>
                <p>
                  Critiques des magasins
                </p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a routerLink="/advertisement" class="nav-link" [ngClass]="(currentUrlSegment=='advertisement')?'active':''">
                <i class="nav-icon fas fa-ad"></i>
                <p>
                  Annonces
                </p>
              </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="/refunds" class="nav-link" [ngClass]="(currentUrlSegment=='refunds')?'active':''">
                <i class="nav-icon fas fa-undo"></i>
                <p>
                  Remboursemens
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/reports" class="nav-link" [ngClass]="(currentUrlSegment=='reports')?'active':''">
                <i class="nav-icon fas fa-file"></i>
                <p>
                  Rapports
                </p>
              </a>
            </li>

          </ul>
        </li>
        
        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='all_products'|| currentUrlSegment=='allInactiveProduct' || currentUrlSegment=='allActiveProduct'|| currentUrlSegment=='allDeletedProduct'|| currentUrlSegment=='categories' || currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='all_products'|| currentUrlSegment=='allInactiveProduct' || currentUrlSegment=='allActiveProduct'|| currentUrlSegment=='allDeletedProduct' || currentUrlSegment=='categories' || currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'active':''">
            <i class="nav-icon fas fa-gift"></i>
            <p>

              Gérer les produits

              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a routerLink="/all_products" class="nav-link" [ngClass]="(currentUrlSegment=='all_products')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tous les produits</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allInactiveProduct" class="nav-link" [ngClass]="(currentUrlSegment=='allInactiveProduct')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Produit inactif</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allActiveProduct" class="nav-link" [ngClass]="(currentUrlSegment=='allActiveProduct')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Produit actif</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allDeletedProduct" class="nav-link" [ngClass]="(currentUrlSegment=='allDeletedProduct')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Supprimer un produit</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/categories" class="nav-link" [ngClass]="(currentUrlSegment=='categories')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Categories</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allCategory" class="nav-link" [ngClass]="(currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Total des catégories</p>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='orders' || currentUrlSegment=='allLattestOrder' || currentUrlSegment=='allReadyToPickupOrder'  || currentUrlSegment=='allPickedUpOrder' || currentUrlSegment=='allCompletedOrder' || currentUrlSegment=='allUserCancledOrder' || currentUrlSegment=='order_report'|| currentUrlSegment=='orderList')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='orders' || currentUrlSegment=='allLattestOrder' || currentUrlSegment=='allReadyToPickupOrder'  || currentUrlSegment=='allPickedUpOrder' || currentUrlSegment=='allCompletedOrder' || currentUrlSegment=='allUserCancledOrder' || currentUrlSegment=='order_report'|| currentUrlSegment=='orderList')?'active':''">
            <i class="nav-icon fab fa-first-order"></i>
            <p>

              Gestion des commandes

              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">


            <li class="nav-item">
              <a routerLink="/allLattestOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allLattestOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Commande nouvelle</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allReadyToPickupOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allReadyToPickupOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Prêt à l'enlèvement</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allPickedUpOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allPickedUpOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Commande enlevée</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allCompletedOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allCompletedOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Commande complétée</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allUserCancledOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allUserCancledOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Commande annulée</p>
              </a>
            </li>

            
            <li class="nav-item">
              <a routerLink="/orders" class="nav-link" [ngClass]="(currentUrlSegment=='orders')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Toutes les commandes</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a routerLink="/order_report" class="nav-link" [ngClass]="(currentUrlSegment=='order_report')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Rapports</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/orderList" class="nav-link" [ngClass]="(currentUrlSegment=='orderList')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Liste de commande</p>
              </a>
            </li>
            

          </ul>
        </li>


        <li class="nav-item" 
          [ngClass]="(currentUrlSegment=='shipping_area' || currentUrlSegment=='market_place'|| currentUrlSegment=='allMarketPlace' || currentUrlSegment=='editMarcketPlace' )?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='shipping_area' || currentUrlSegment=='market_place' || currentUrlSegment=='allMarketPlace'|| currentUrlSegment=='editMarcketPlace' )?'active':''">
            <i class="nav-icon fas fa-shipping-fast"></i>
            <p>

              Gestion des expéditions
              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a routerLink="/shipping_area" class="nav-link" [ngClass]="(currentUrlSegment=='shipping_area')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Zone d'expédition</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/market_place" class="nav-link" [ngClass]="(currentUrlSegment=='market_place')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Gérer les frais d'expédition</p>
              </a>
            </li>

            

            <li class="nav-item">
              <a routerLink="/allMarketPlace" class="nav-link" [ngClass]="(currentUrlSegment=='allMarketPlace'|| currentUrlSegment=='editMarcketPlace')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Toutes les places de marché</p>
              </a>
            </li>

          </ul>
        </li>


        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='add_plan' || currentUrlSegment=='statistics_plan'|| currentUrlSegment=='editPlan')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='add_plan' || currentUrlSegment=='statistics_plan'  || currentUrlSegment=='editPlan')?'active':''">
            <i class="nav-icon fas fa-id-card"></i>
            <p>

              d'abonnement
              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <!-- <li class="nav-item">
              <a routerLink="/add_plan" class="nav-link" [ngClass]="(currentUrlSegment=='add_plan')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Ajouter un plan</p>
              </a>
            </li> -->

            
            <li class="nav-item">
              <a routerLink="/statistics_plan" class="nav-link" [ngClass]="(currentUrlSegment=='statistics_plan' || currentUrlSegment=='editPlan')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Statistiques</p>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item"  [ngClass]="(currentUrlSegment=='sendPushNotificationMerchant' || currentUrlSegment=='allPushNotification')?'menu-open':''">

          <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='sendPushNotificationMerchant' || currentUrlSegment=='allPushNotification')?'active':''">
            <i class="nav-icon fas fa-bell"></i>
            <p>
              Notification Push
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!-- <li class="nav-item">
              <a routerLink="/sendPushNotificationMerchant" class="nav-link"  [ngClass]="(currentUrlSegment=='sendPushNotificationMerchant')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Envoyer à l'utilisateur</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="/allPushNotification" class="nav-link"  [ngClass]="(currentUrlSegment=='allPushNotification')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Toutes les notifications</p>
              </a>
            </li>
          </ul>
      </li>
      

      
      <!-- <li class="nav-item"  [ngClass]="(currentUrlSegment=='addInvoice' || currentUrlSegment=='allInvoice')?'menu-open':''">

        <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addInvoice' || currentUrlSegment=='allInvoice')?'active':''">
          <i class="nav-icon fas fa-bell"></i>
          <p>
            Invoice
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/addInvoice" class="nav-link"  [ngClass]="(currentUrlSegment=='addInvoice')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Ajouter Invoice </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/allInvoice" class="nav-link"  [ngClass]="(currentUrlSegment=='allInvoice')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Toutes les Invoice</p>
            </a>
          </li>
        </ul>
      </li> -->
      
      <!-- <li class="nav-item"  [ngClass]="(currentUrlSegment=='addOrganizer' || currentUrlSegment=='allOrganizer' || currentUrlSegment=='editOrganizer'  || currentUrlSegment=='allOrganizerEarning'|| currentUrlSegment=='makePaymentRequest'|| currentUrlSegment=='organiserPaymentHistory' )?'menu-open':''">

        <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addOrganizer' || currentUrlSegment=='allOrganizer' || currentUrlSegment=='editOrganizer' || currentUrlSegment=='allOrganizerEarning'|| currentUrlSegment=='makePaymentRequest'|| currentUrlSegment=='organiserPaymentHistory')?'active':''">
          <i class="nav-icon fas fa-bell"></i>
          <p>
            Organisateur
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/addOrganizer" class="nav-link"  [ngClass]="(currentUrlSegment=='addOrganizer')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Ajouter Organisateur </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/allOrganizer" class="nav-link"  [ngClass]="(currentUrlSegment=='allOrganizer' || currentUrlSegment=='editOrganizer')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Toutes les Organisateur</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/allOrganizerEarning" class="nav-link"  [ngClass]="(currentUrlSegment=='allOrganizerEarning' || currentUrlSegment=='makePaymentRequest'|| currentUrlSegment=='organiserPaymentHistory')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Organisateur gains</p>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item"  [ngClass]="(currentUrlSegment=='addEventBanner' || currentUrlSegment=='allEventBanner'|| currentUrlSegment=='editEventBanner')?'menu-open':''">

        <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addEventBanner' || currentUrlSegment=='allEventBanner'|| currentUrlSegment=='editEventBanner')?'active':''">
          <i class="nav-icon fas fa-bell"></i>
          <p>
            Bannière d'événement
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/addEventBanner" class="nav-link"  [ngClass]="(currentUrlSegment=='addEventBanner')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Ajouter bannière </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/allEventBanner" class="nav-link"  [ngClass]="(currentUrlSegment=='allEventBanner'|| currentUrlSegment=='editEventBanner')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Toutes les bannière</p>
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item"  [ngClass]="(currentUrlSegment=='addEventCategory' || currentUrlSegment=='allEventCategory')?'menu-open':''">

        <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addEventCategory' || currentUrlSegment=='allEventCategory')?'active':''">
          <i class="nav-icon fas fa-bell"></i>
          <p>
            Catégorie d'événement
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/addEventCategory" class="nav-link"  [ngClass]="(currentUrlSegment=='addEventCategory')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Ajouter catégorie </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/allEventCategory" class="nav-link"  [ngClass]="(currentUrlSegment=='allEventCategory')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Toutes les catégorie</p>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item"  [ngClass]="(currentUrlSegment=='addEvent' || currentUrlSegment=='allEvent'|| currentUrlSegment=='editEvent' || currentUrlSegment=='allEventExpired'|| currentUrlSegment=='allEventOngoing' )?'menu-open':''">

        <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addEvent' || currentUrlSegment=='allEvent'|| currentUrlSegment=='editEvent' || currentUrlSegment=='allEventExpired'|| currentUrlSegment=='allEventOngoing')?'active':''">
          <i class="nav-icon fas fa-bell"></i>
          <p>
            Événement
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/addEvent" class="nav-link"  [ngClass]="(currentUrlSegment=='addEvent')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Ajouter Événement </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/allEvent" class="nav-link"  [ngClass]="(currentUrlSegment=='allEvent'|| currentUrlSegment=='editEvent')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Toutes les Événement</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/allEventOngoing" class="nav-link"  [ngClass]="(currentUrlSegment=='allEventOngoing' )?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Événement en cours</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a routerLink="/allEventExpired" class="nav-link"  [ngClass]="(currentUrlSegment=='allEventExpired' )?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Événement expiré</p>
            </a>
          </li>

          

        </ul>
      </li> -->
      

      <li class="nav-item"  [ngClass]="(currentUrlSegment=='sellerTermsCondition' || currentUrlSegment=='editDriverSupport'|| currentUrlSegment=='editWebPages'|| currentUrlSegment=='adminSetting')?'menu-open':''">

        <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='sellerTermsCondition' || currentUrlSegment=='editDriverSupport'|| currentUrlSegment=='editWebPages'|| currentUrlSegment=='adminSetting')?'active':''">
          <i class="nav-icon fas fa-bell"></i>
          <p>
            Paramètres
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/sellerTermsCondition" class="nav-link"  [ngClass]="(currentUrlSegment=='sellerTermsCondition')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Conditions du vendeur</p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a routerLink="/editDriverSupport" class="nav-link"  [ngClass]="(currentUrlSegment=='editDriverSupport')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Support du chauffeur</p>
            </a>
          </li> -->

          <li class="nav-item">
            <a routerLink="/editWebPages" class="nav-link"  [ngClass]="(currentUrlSegment=='editWebPages')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Les pages web</p>
            </a>
          </li>


          <li class="nav-item">
            <a routerLink="/adminSetting" class="nav-link"  [ngClass]="(currentUrlSegment=='adminSetting')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Réglage</p>
            </a>
          </li>


        </ul>
      </li>
      <!-- <li class="nav-item" >
        <a routerLink="/statistics_market" class="nav-link">
          <i class="nav-icon fas fa-chart-bar"></i>
          <p>
            Marché des statistiques
          </p>
        </a>
      </li> -->
      
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Déconnexion</p>
          </a>
        </li>

        






      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>