<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Remboursemens</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <!-- <div style="margin-left: 14px;display: flex;">
                    <p style="color: #2171ae;font-size: 12px;">Pending(0) &nbsp;|&nbsp;</p>
                    <p style="color: #2171ae;font-size: 12px;">Approved(0) &nbsp;|&nbsp;</p>
                    <p style="color: #2171ae;font-size: 12px;">Cancelled(0) &nbsp;|&nbsp;</p>
                    <input type="text" class="form-control" placeholder="Search Refund">
                </div> -->
                <div style="display: flex;">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div style="display: flex;">
                            <select class="form-select" formControlName="action_delete">
                                <option value="">Actions Groups</option>
                                <option value="approve">Approuver</option>
                                <option value="cancel">Annuler</option>
                            </select>
                            <button class="btn btn-secondary">Apply</button>
                        </div>
                    </form>
                </div>
                    <table id="basic-data-table" class="table nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th> <input type="checkbox" [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)"></th>
                        <th >ID de la commande</th>
                        <th>Vendeur</th>
                        <th >Montant du remboursement</th>
                        <th>Motif du remboursement</th>
                        <th>Passerelle de paiement</th>
                        <th>Date</th>
                        <th>Statut</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <ng-container *ngIf="orders.length > 0; else elseUsers">
                    <tbody>
                        <ng-container *ngIf="orders.length > 0">
                            <tr *ngFor="let d of orders">
                                <td><input type="checkbox"   [(ngModel)]="d.is_checked" (ngModelChange)="onSelectAll2(d._id,$event)" ></td>
                                <td >{{d.order[0].order_id}}</td>
                                <td >{{d.vendor[0].fullname}}</td>
                                <td>{{d.amount}}</td>
                                <td >{{d.reason}}</td>
                                <td>{{d.paymentgateway}}</td>
                                <td>{{d.createdAt | date : 'dd/MM/yyyy HH:mm' }}</td>
                                <td>
                                    
                                    <ng-container *ngIf="d.status == true; else statusElse">
                                        <div class="badge" style="color:green" >Fait</div>
                                    </ng-container>
                                    <ng-template #statusElse>
                                        <div class="badge" style="color:red" >Non fait</div>
                                    </ng-template>
                                </td>
                                <td>
                                    <ng-container *ngIf="d.status == true; else statusElse2">
                                        
                                        <a   href="javascript:void(0)" style="color:red" (click)="markAsundoneFun(d._id)">Marque non faite</a>
                                    </ng-container>
                                    
                                    <ng-template #statusElse2>
                                        <a   href="javascript:void(0)" style="color:green" (click)="markAsdoneFun(d._id)">Marque faite</a>
                                    </ng-template>
                                    
                                </td>
                            </tr>
                        </ng-container>
                        
                        <tr *ngIf="orders.length == 0">
                            Aucune donnée trouvée
                        </tr>
                        
                        

                    </tbody>

                            <div class="clearfix"></div>
                        <br>
                        <ul class="pagination">
                            <li   *ngFor="let item of numbers; let i = index"  
                            [class.active]="selectedIndex === i"
                            (click)="getallColor(item)">
                            <a class="" href="javascript:void(0)">{{item+1}}</a>
                            </li> 
                        </ul>


                        </ng-container>
                    <ng-template #elseUsers>
                    <tbody >
                    <tr>
                        <td class="no-data" colspan="10">
                            <i class="fa fa-file"></i>
                            <p>Aucune donnée trouvée</p>
                        </td>
                    </tr>
                    </tbody>
                </ng-template>
                  </table>
                
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>