<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
   <div class="wrapper">

       <app-adminheader></app-adminheader>
       <app-adminsidebar></app-adminsidebar>
       <div class="content-wrapper">
           <!-- Content Header (Page header) -->
           <div class="content-header">
               <div class="container-fluid">
                   <div class="row mb-2">
                       <div class="col-sm-6">
                           <h1 class="m-0">Plan</h1>
                       </div><!-- /.col -->
                       <div class="col-sm-6">
                           <ol class="breadcrumb float-sm-right">
                               <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                               <li class="breadcrumb-item active">Ajouter un plan</li>
                           </ol>
                       </div><!-- /.col -->
                   </div><!-- /.row -->
               </div><!-- /.container-fluid -->
           </div>
           <!-- /.content-header -->

           <!-- Main content -->
           <section class="content">
               <div>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card-body">
                        
                        <input type="hidden"  formControlName="type">
                        <div class="form-group">
                            <label class="form-label">Paquet</label>
                            <select class="form-control" formControlName="package">
                                <option value="">Veuillez sélectionner</option>
                                <option value="individual">Individuel</option>
                                <option value="professional">Professionnel</option>
                            </select>

                            <div *ngIf="f['package'].touched && f['package'].invalid" class="validation_error">
                            <div *ngIf="f['package'].errors && f['package'].errors['required']">Le paquet est requis</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Plus par produit</label>
                            <input type="number" id="plusperproduct" formControlName="plusperproduct" class="form-control" placeholder="" >
                            <div *ngIf="f['plusperproduct'].touched && f['plusperproduct'].invalid" class="validation_error">
                                <div *ngIf="f['plusperproduct'].errors && f['plusperproduct'].errors['required']">Plus par produit est requis</div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="">Commission additionnelle</label>
                            <input type="number" id="extracommission" formControlName="extracommission" class="form-control" placeholder="" >
                            <div *ngIf="f['extracommission'].touched && f['extracommission'].invalid" class="validation_error">
                                <div *ngIf="f['extracommission'].errors && f['extracommission'].errors['required']">Commission additionnelle est requis</div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="">Prix</label>
                            <input type="number" id="price" formControlName="price" class="form-control" placeholder="" >
                            <div *ngIf="f['price'].touched && f['price'].invalid" class="validation_error">
                                <div *ngIf="f['price'].errors && f['price'].errors['required']">Prix est requis</div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="">Durée de l'offre</label>
                            <input type="number" id="duration" formControlName="duration" class="form-control" placeholder="" >
                            <div *ngIf="f['duration'].touched && f['duration'].invalid" class="validation_error">
                                <div *ngIf="f['duration'].errors && f['duration'].errors['required']">Durée de l'offre est requis</div>
                                </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">Nombre d'articles</label>
                            <input type="number" id="Numberofitems" formControlName="Numberofitems" class="form-control" placeholder="" >
                            <div *ngIf="f['Numberofitems'].touched && f['Numberofitems'].invalid" class="validation_error">
                                <div *ngIf="f['Numberofitems'].errors && f['Numberofitems'].errors['required']">Nombre d'articles est requis</div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Limitée</label>
                            <select class="form-control" formControlName="is_limited">
                                <option value="">Veuillez sélectionner</option>
                                <option value="true">Oui</option>
                                <option value="false">Non</option>
                            </select>

                            <div *ngIf="f['is_limited'].touched && f['is_limited'].invalid" class="validation_error">
                            <div *ngIf="f['is_limited'].errors && f['is_limited'].errors['required']">Le Limitée est requis</div>
                        </div>
                        </div>

                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea id="description" formControlName="description" class="form-control" placeholder="" ></textarea>
                            
                        </div>


                        
                        
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                            &nbsp;&nbsp;&nbsp;
                            
                        <div class="clearfix"></div>
                        <br>
                        <div class="comeBack_up" *ngIf="apiResponse">
                            <div *ngIf="apiResponse.error; else loggedOut">
                            <div class="alert alert-danger"><strong>{{ apiResponse.errmessage }}</strong></div>
                            </div>
                            <ng-template #loggedOut>
                            <div class="alert alert-success" *ngIf="apiResponse.errmessage"><strong>{{ apiResponse.errmessage }}</strong></div>
                            </ng-template>
                        </div>
        
                            
                    </div>


                </form>
               </div>


           </section>

           <!-- /.content -->
       </div>


       <app-adminfooter></app-adminfooter>
   </div>
</body>