<div class="card-header">
    <h3 class="card-title">Ajouter une zone d'expédition<small></small></h3>
  </div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="card-body">

    <div class="form-group row mb-0">
      <label class="form-label col-md-4 col-lg-3">Type de zone</label>
      <div class="col-xl-9 col-md-12 col-lg-12">
        <div class="form-group">
          
          <input id="" type="radio" value="new_zone" formControlName="zone_type" (ngModelChange)="onChangeR2($event)">
          &nbsp;<label for="dinner">Nouvelle zone</label>&nbsp;&nbsp;
          <input id="" type="radio" value="old_zone" formControlName="zone_type" (ngModelChange)="onChangeR2($event)">
          &nbsp;<label for="dinner">Ancienne zone</label>
          <div *ngIf="f['zone_type'].touched && f['zone_type'].invalid" class="validation_error">
            <div *ngIf="f['zone_type'].errors && f['zone_type'].errors['required']">Le type de zone est requis.</div>
          </div>

        </div>
      </div>
    </div>



    <div class="form-group row mb-0" [ngStyle]="{'display':displayStyle}">
      <label class="form-label col-md-4 col-lg-3">Nom de la zone*</label>
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="form-group">
          <input type="text" formControlName="zone_name"
            id="zone_name"  
            class="form-control"
            placeholder="Nom de la zone">
            
        </div>
      </div>
    </div>

    <div class="form-group row mb-0" [ngStyle]="{'display':displayStyle2}">
      <label class="form-label col-md-4 col-lg-3">Nom de la zone*</label>
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="form-group">
            <select class="form-control" name="zone_id" formControlName="zone_id" (ngModelChange)="onChangeR($event)">
              <option value="" >Veuillez sélectionner</option>
              <option *ngFor="let valOfShip of getAllZoneRecord" value="{{valOfShip._id}}" >{{valOfShip.name}}</option>
          </select>
          
        </div>
      </div>
    </div>


    <div class="form-group row mb-0">
      <label class="form-label col-md-4 col-lg-3">Composition de la zone</label>
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="form-group">
            <input type="text" formControlName="address"
            id="address"  
            class="form-control" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event,'')"
            placeholder="Adresse d'enlèvement" [ngModel]="address">
            <div *ngIf="f['address'].touched && f['address'].invalid" class="validation_error">
              <div *ngIf="f['address'].errors && f['address'].errors['required']">L'adresse est requis.</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Soumettre</button>
  </div>
  <div class="clearfix"></div>
  <br>
  <div class="comeBack_up" >
    <div class="clearfix"></div>
    <br>
    <div class="comeBack_up" *ngIf="apiResponse">
      <div *ngIf="apiResponse.status == false; else loggedOut">
        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
      </div>
      <ng-template #loggedOut>
        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
      </ng-template>
    </div>
  </div>
</form>