<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Organisateur</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Ajouter un organisateur</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Ajouter un organisateur<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Catégorie*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <select class="form-control" formControlName="catagory">
                            <option value="">Veuillez sélectionner</option>
                            <option  *ngFor="let abcObj of allCat" value="{{abcObj.name}}">{{abcObj.name}}</option>
                          </select>                          
                          <div *ngIf="f['catagory'].touched && f['catagory'].invalid" class="validation_error">
                            <div *ngIf="f['catagory'].errors && f['catagory'].errors['required']">Le catégorie est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Nom complet*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" formControlName="fullName"
                            id="fullName"  
                            class="form-control"
                            placeholder="Nom complet">
                          <div *ngIf="f['fullName'].touched && f['fullName'].invalid" class="validation_error">
                            <div *ngIf="f['fullName'].errors && f['fullName'].errors['required']">Le prénom est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Email*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="email" formControlName="email"
                            id="email"  
                            class="form-control"
                            placeholder="Courriel">
                          <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                            <div *ngIf="f['email'].errors && f['email'].errors['required']">Le courriel est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Téléphone*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="number" formControlName="phone"
                            id="phone"  
                            class="form-control"
                            placeholder="Numéro de mobile">
                          <div *ngIf="f['phone'].touched && f['phone'].invalid" class="validation_error">
                            <div *ngIf="f['phone'].errors && f['phone'].errors['required']">Le numéro de mobile est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Entrez l'adresse*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                            <input formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"class="form-control"
                            placeholder="Entrez l'adresse" />

                          <div *ngIf="f['address'].touched && f['address'].invalid" class="validation_error">
                            <div *ngIf="f['address'].errors && f['address'].errors['required']">Adresse est requis.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Banque</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" id="" class="form-control" formControlName="bank" placeholder="Banque">
                          <div *ngIf="f['bank'].touched && f['bank'].invalid" class="validation_error">
                            <div *ngIf="f['bank'].errors && f['bank'].errors['required']">Banque est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Nom du compte</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" id="" class="form-control" formControlName="accountname" placeholder="Nom du compte">
                          <div *ngIf="f['accountname'].touched && f['accountname'].invalid" class="validation_error">
                            <div *ngIf="f['accountname'].errors && f['accountname'].errors['required']">Nom du compte est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">IBAN</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="iban" placeholder="IBAN" />
                          <div *ngIf="f['iban'].touched && f['iban'].invalid" class="validation_error">
                            <div *ngIf="f['iban'].errors && f['iban'].errors['required']">IBAN est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">BIC</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="bic" placeholder="BIC" />
                          <div *ngIf="f['bic'].touched && f['bic'].invalid" class="validation_error">
                            <div *ngIf="f['bic'].errors && f['bic'].errors['required']">BIC est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.status == true; else loggedOut">
                        <div class="alert alert-success"><strong>{{ apiResponse.message }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-danger" *ngIf="apiResponse.message"><strong>{{ apiResponse.message }}</strong></div>
                      </ng-template>
                    </div>
  
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>